<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body style="font-family: 'PT Sans Narrow',sans-serif;">
    <div style="width: 1000px; padding: 0px 10px 30px;">
        <p><img style="padding-top: 10px;" src="//logo" alt="logo" width="800px" /></p>
        <table style="font-family: 'PT Sans Narrow', sans-serif; font-size: 9px; width: 970px; height: 200px;">
            <tbody>
                <tr>
                    <td style="font-size: 14px; text-align: center; width: 945px;" colspan="7"><span style="text-decoration: underline; font-weight: bold;">DECLARACI&Oacute;N JURADA DE AUSENCIA DE INCOMPATIBILIDADES</span></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-size: 11px; width: 945px;" colspan="7">
                        <p>Se&ntilde;ores<br>Ministerio de Desarrollo e Inclusi&oacute;n Social<br><span style="text-decoration: underline;">Presente.-</span></p>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 11px; width: 945px;" colspan="7">
                        <p>Yo, //nombre, identificad(a) con //dni, <strong>DECLARO BAJO JURAMENTO</strong> no percibir ingresos por parte del estado, ni tener antecedentes penales ni judiciales, tener sentencias condenatorias o haber sido sometido a procesos disciplinarios o sanciones administrativas que me impidan laborar en el Estado.</p>
                        <p>Esta declaraci&oacute;n se formula en aplicaci&oacute;n del principio de veracidad establecido en el Art&iacute;culo 42&deg; de la Ley N&deg; 27444, Ley del Procedimiento Administrativo General.&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Lima //dia de //mes de //anio</p>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 9px; width: 419.599px;">
                        <p><br /><br /></p>
                    </td>
                    <td style="font-size: 9px; width: 218.401px;">
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>_____________________________________<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Firma del Trabajador</p>
                    </td>
                    <td style="width: 150px;">&nbsp;</td>
                    <td style="width: 88px; border: 1px solid #d1d1d1;">&nbsp;</td>
                    <td style="width: 10px;">&nbsp;</td>
                    <td style="width: 29px;">&nbsp;</td>
                    <td style="width: 30px;">&nbsp;</td>
                </tr>
                <tr>
                    <td style="width: 419.599px;">&nbsp;</td>
                    <td style="width: 218.401px;">&nbsp;</td>
                    <td style="width: 150px;">&nbsp;</td>
                    <td style="font-size: 9px; width: 88px;">&nbsp; &nbsp; Huella digital</td>
                    <td style="width: 10px;">&nbsp;</td>
                    <td style="width: 29px;">&nbsp;</td>
                    <td style="width: 30px;">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
