<p>&nbsp;</p>
<div style="width: 1000px; padding: 0px 10px 30px;">
    <p><img style="padding-top: 10px; width: 980px;" src="//logo" alt="logo" /></p>
    <table style="font-family: 'PT Sans Narrow', sans-serif; font-size: 14px; width: 1000px; height: 200px;">
        <tbody>
            <tr>
                <td style="font-size: 16px; text-align: center; width: 945px;" colspan="7"><span style="font-weight: bold;">DECLARACI&Oacute;N JURADA DE COMPROMISO DE INTEGRIDAD</span></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="font-size: 14px; line-height: 18px;" colspan="7">
                    <p style="text-align: justify;">Yo, //nombre, identificado(a) con //dni, en mi calidad de //cargo del MIDIS <strong>manifiesto mi compromiso</strong> con el fortalecimiento de una cultura de integridad, a través de las siguientes acciones:</p>
                    <ol type="a">
                        <li>
                            Priorizando el desarrollo y cumplimiento de un conjunto de normas que promueven la integridad, prevengan la corrupci&oacute;n y pr&aacute;cticas contrarias a la &eacute;tica.
                        </li>
                        <li>Sirviendo al interés publico, previniendo y gestionando los conflictos de interes, incluidas las funciones y actividades incompatibles, durante el ejercicio y cese del cargo.</li>
                        <li>Ejecutando y difundiendo acciones de integridad entre el personal y partes interesadas.</li>
                        <li>Asegurando el apoyo y participacion de mi unidad de organiacion para el correcto y oportuno desarrollo de los componentes del modelo de integridad y la gestion de riesgos.</li>
                        <li>Promoviendo activamente la prevencion y deteccion de inconductas funcionales o actos de corrupcion, comunicando oportunamente a mi superior jerarquico y a la Oficina de Integridad Institucional.</li>
                    </ol>
                    <p>&nbsp;</p>
                    <p style="text-align: justify;">Asimismo soy conciente que:</p>
                    <ul>
                        <li>El soborno, tipificado como delito de cochecho en el Código Penal Peruano, consiste en solicitar, ofrecer o aceptar regalos o retribuciones a un funcionario público para que haga una infraccion administrativa en sus funciones. El provecho puede ser propio o para un tercero.</li>
                        <li>El riesgo de soborno puede causar daño a mi persona y la institución.</li>
                        <li>Puedo reconocer y enfrentar las solicitudes u ofertas de soborno, para lo cual reportaré cualquier sospecha de soborno ante la Oficina de Integridad Institucional, quien me orientará para el trámite de la denuncia, según corresponda.</li>
                    </ul>
                    <p>&nbsp;</p>
                    <p style="text-align: justify;">Finalmente, declaro que SI (&nbsp;&nbsp;&nbsp;&nbsp;)  NO (&nbsp;&nbsp;&nbsp;&nbsp;)</p>
                    <ol type="1">
                        <li>
                            Tengo participación económica remunerada o no; o,
                        </li>
                        <li>Ejerzo representación mediante poder, mandato o encargo otorgado por personas naturales o juridicas; o,</li>
                        <li>Tengo participación en directorios, consejo de administración y vigilancia, consejos consultivos y similares; o,</li>
                        <li>Tengo participación en organizaciones privadas (partidos políticos, asociaciones, gremios u organizaciones no gubernamentales)</li>
                    </ol>
                    <p>durante los cinco (5) últimos años, lo que paso a detallar:</p>
                    <p>
                        <table style="width: 990px; border: 0px solid #f0f0f0;" border="1" cellspacing="0" cellpadding="2">
                            <tbody>
                                <tr>
                                    <td style="background-color: #d1d1d1; font-size: 11px; width: 140px; text-align: center;"><strong>&Iacute;TEM (Del 1 al 4)</strong></td>
                                    <td style="background-color: #d1d1d1; font-size: 11px; width: 300px; text-align: center;"><strong>&nbsp;INSTITUCI&Oacute;N</strong></td>
                                    <td style="background-color: #d1d1d1; font-size: 11px; width: 210.182px; text-align: center;"><strong>&nbsp;CARGO</strong></td>
                                    <td style="background-color: #d1d1d1; font-size: 11px; width: 292.818px; text-align: center;"><strong>&nbsp;PERIODO</strong></td>
                                </tr>
                                <tr>
                                    <td style="width: 140px;">&nbsp;</td>
                                    <td style="width: 300px;">&nbsp;</td>
                                    <td style="width: 210.182px;">&nbsp;</td>
                                    <td style="width: 292.818px;">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </p>
                    <p>&nbsp;</p>
                    <p style="font-size:11px">Declaro bajo juramento que los datos consignados en la presente Declaración Jurada son verdaderos, en concordancia con el principio de presunción de veracidad del numeral 1.7 del artículo IV del TUO de la Ley N° 27444, Ley del Procedimiento Administrativo General, siendo posibles de fiscalización posterior prevista en el artículo 34° del mismo marco legal, aceptando las responsabilidades administrativas, civiles y/o penales que se pudieran derivar en caso se compruebe que los datos proporcionados son falsos o incompletos</p>
                    <p style="font-size:11px">Declaro que tengo conocimiento que, si lo declarado es falso, podría incurrir en los delitos de: Nombramiento, designación, contratación, encargatura o aceptación ilegal de cargo; falsa declaración en procedimiento administrativo, falsificación de documentos y falsedad genérico tipificados en los artículos 381°, 411°, 427° y 438° del Código Penal, respectivamente</p>
                    <p>&nbsp;</p>
                    <p>Lima //dia de //mes de //anio</p>
                </td>
            </tr>
            <tr>
                <td style="font-size: 12px; width: 419.599px;">
                    <p><br /><br /></p>
                </td>
                <td style="font-size: 12px; width: 218.401px;">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>_____________________________________<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Firma del Trabajador(a)</p>
                </td>
                <td style="width: 130px;">&nbsp;</td>
                <td style="width: 108px; border: 1px solid #d1d1d1;">&nbsp;</td>
                <td style="width: 10px;">&nbsp;</td>
                <td style="width: 29px;">&nbsp;</td>
                <td style="width: 30px;">&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 419.599px;">&nbsp;</td>
                <td style="width: 218.401px;">&nbsp;</td>
                <td style="width: 130px;">&nbsp;</td>
                <td style="font-size: 12px; width: 108px;">&nbsp; &nbsp; Huella dactilar</td>
                <td style="width: 10px;">&nbsp;</td>
                <td style="width: 29px;">&nbsp;</td>
                <td style="width: 30px;">&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>