<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body style="font-family: 'PT Sans Narrow',sans-serif;">
    <div style="width: 1000px; padding: 0px 10px 30px;">
        <p><img style="padding-top: 10px;" src="//logo" alt="logo" width="800px" /></p>
        <table style="font-family: 'PT Sans Narrow', sans-serif; font-size: 9px; width: 970px; height: 200px;">
            <tbody>
                <tr>
                    <td style="font-size: 14px; text-align: center; width: 945px;" colspan="7"><span style="text-decoration: underline; font-weight: bold;">DECLARACION JURADA DE AUSENCIA DE NEPOTISMO - LEY N&deg; 26771<br />D.S. N&deg; 021-2000-PCM, D.S. 017-2002-PCM, D.S. N&deg; 034-2005-PCM</span></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-size: 11px; width: 945px;" colspan="7">
                        <p>Se&ntilde;ores<br />Ministerio de Desarrollo e Inclusi&oacute;n Social<br /><span style="text-decoration: underline;">Presente.-</span></p>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 11px; width: 945px;" colspan="7">
                        <p>Yo, //nombre, identificado(a) con //dni,&nbsp; al&nbsp;amparo del Principio de Veracidad se&ntilde;alado por el art&iacute;culo IV, numeral 1.7 del T&iacute;tulo Preliminar y lo&nbsp;dispuesto en el art&iacute;culo 42&deg; de la Ley de Procedimiento Administrativo General - Ley N&deg; 27444, <strong>DECLARO&nbsp;BAJO JURAMENTO</strong>, lo siguiente:</p>
                        <p><strong>DECLARO BAJO JURAMENTO</strong> que en el Ministerio de Desarrollo e Inclusi&oacute;n Social - MIDIS laboran&nbsp;las personas cuyos apellidos y nombres indico, a quien(es) me une la relaci&oacute;n o vinculo de afinidad&nbsp;(A) o consanguinidad (C), v&iacute;nculo matrimonial (M) o uni&oacute;n de hecho (UH), se&ntilde;alados a continuaci&oacute;n:</p>
                        <table style="width: 990px;" border="1">
                            <tbody>
                                <tr>
                                    <td style="background-color: #d1d1d1; font-size: 11px; width: 165px; text-align: center;"><strong>RELACI&Oacute;N</strong></td>
                                    <td style="background-color: #d1d1d1; font-size: 11px; width: 300px; text-align: center;"><strong>&nbsp;APELLIDOS</strong></td>
                                    <td style="background-color: #d1d1d1; font-size: 11px; width: 210.182px; text-align: center;"><strong>&nbsp;NOMBRES</strong></td>
                                    <td style="background-color: #d1d1d1; font-size: 11px; width: 292.818px; text-align: center;"><strong>&nbsp;&Aacute;REA DE TRABAJO</strong></td>
                                </tr>
                                <tr>
                                    <td style="width: 165px;">//neporelacion1&nbsp;</td>
                                    <td style="width: 300px;">//nepoapellido1&nbsp;</td>
                                    <td style="width: 210.182px;">//neponombre1&nbsp;</td>
                                    <td style="width: 292.818px;">//nepoarea1&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width: 165px;">//neporelacion2&nbsp;</td>
                                    <td style="width: 300px;">//nepoapellido2&nbsp;</td>
                                    <td style="width: 210.182px;">//neponombre2&nbsp;</td>
                                    <td style="width: 292.818px;">//nepoarea2&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width: 165px;">//neporelacion3&nbsp;</td>
                                    <td style="width: 300px;">//nepoapellido3&nbsp;</td>
                                    <td style="width: 210.182px;">//neponombre3&nbsp;</td>
                                    <td style="width: 292.818px;">//nepoarea3&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>Manifiesto, que lo mencionado responde a la verdad de los hechos y tengo conocimiento, que si lo&nbsp;declarado es falso, estoy sujeto a los alcances de lo establecido en el art&iacute;culo 438&ordm; del C&oacute;digo Penal,&nbsp;que prev&eacute;n pena privativa de libertad de hasta 04 a&ntilde;os, para los que hacen una falsa declaraci&oacute;n,&nbsp;violando el principio de veracidad, as&iacute; como para aquellos que cometan falsedad, simulando o&nbsp;alterando la verdad intencionalmente.</p>
                        <p>&nbsp;</p>
                        <p>Lima //dia de //mes de //anio</p>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 9px; width: 419.599px;">
                        <p><br /><br /></p>
                    </td>
                    <td style="font-size: 9px; width: 218.401px;">
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>_____________________________________<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Firma del Trabajador</p>
                    </td>
                    <td style="width: 150px;">&nbsp;</td>
                    <td style="width: 88px; border: 1px solid #d1d1d1;">&nbsp;</td>
                    <td style="width: 10px;">&nbsp;</td>
                    <td style="width: 29px;">&nbsp;</td>
                    <td style="width: 30px;">&nbsp;</td>
                </tr>
                <tr>
                    <td style="width: 419.599px;">&nbsp;</td>
                    <td style="width: 218.401px;">&nbsp;</td>
                    <td style="width: 150px;">&nbsp;</td>
                    <td style="font-size: 9px; width: 88px;">&nbsp; &nbsp; Huella digital</td>
                    <td style="width: 10px;">&nbsp;</td>
                    <td style="width: 29px;">&nbsp;</td>
                    <td style="width: 30px;">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
