<p>&nbsp;</p>
<div style="width: 1000px; padding: 0px 10px 30px;">
    <p><img style="padding-top: 10px; width: 980px;" src="//logo" alt="logo" /></p>
    <table style="font-family: 'PT Sans Narrow', sans-serif; font-size: 14px; width: 1000px; height: 200px;">
        <tbody>
            <tr>
                <td style="font-size: 16px; text-align: center; width: 945px;" colspan="7"><span style="font-weight: bold;">DECLARACI&Oacute;N JURADA DE TOMA DE CONOCIMIENTO PARA EL CUMPLIMIENTO DE NORMAS DE<br />INTEGRIDAD Y COMPROMISO DE OBSERVANCIA DE LA NORMATIVA DEL MINISTERIO DE<br />DESARROLLO E INCLUSI&Oacute;N SOCIAL</span></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="font-size: 14px; width: 945px;" colspan="7">
                    <p>Se&ntilde;ores<br />Ministerio de Desarrollo e Inclusi&oacute;n Social</p>
                    <p><br /><span style="text-decoration: underline;">Presente.-</span></p>
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td style="font-size: 14px; width: 945px;" colspan="7">
                    <p style="text-align: justify;">Yo, //nombre, identificad(a) con //dni, <strong>DECLARO BAJO JURAMENTO</strong> que tengo conocimiento de las siguientes normas, me comprometo a revisarlas y cumplirlas en toda circunstancia:</p>
                    <ol>
                        <li>Ley N&deg; 27815, Ley del C&oacute;digo de &Eacute;tica de la Funci&oacute;n P&uacute;blica, y sus modificatorias. La cual se&nbsp;encuentra ubicada en el siguiente enlace:<br /><a href="https://www.gob.pe/de/institucion/congreso-de-la-republica/normas-legales/828190-27815" target="_blank">https://www.gob.pe/de/institucion/congreso-de-la-republica/normas-legales/828190-27815</a><br />&nbsp;</li>
                        <li>Decreto Supremo N&deg; 033-2005-PCM, que aprueba el Reglamento de la Ley del C&oacute;digo de &Eacute;tica de la Funci&oacute;n P&uacute;blica, se encuentra ubicado en el siguiente enlace:<br /><a href="https://www.gob.pe/institucion/pcm/normas-legales/268595-033-2005-pcm" target="_blank">https://www.gob.pe/institucion/pcm/normas-legales/268595-033-2005-pcm</a><br />&nbsp;</li>
                        <li>C&oacute;digo de &Eacute;tica del Ministerio de Desarrollo e Inclusi&oacute;n Social aprobado mediante Resoluci&oacute;n Ministerial N&deg; 215-2020-MIDIS. el cual se encuentra ubicada en el siguiente enlace:<br /><a href="https://www.gob.pe/institucion/midis/normas-legales/1425007-215-2020-midis" target="_blank">https://www.gob.pe/institucion/midis/normas-legales/1425007-215-2020-midis</a><br />&nbsp;</li>
                        <li>La Directiva N&deg; 001-2022-MIDIS "Atenci&oacute;n de denuncias por presuntos actos de corrupci&oacute;n y de las medidas de protecci&oacute;n del Ministerio de Desarrollo e Inclusi&oacute;n Social" aprobada por Resoluci&oacute;n Ministerial Nro. 037-2022-MIDIS<br /><a href="https://www.gob.pe/institucion/midis/normas-legales/2776965-037-2022-midis" target="_blank">https://www.gob.pe/institucion/midis/normas-legales/2776965-037-2022-midis</a><br />&nbsp;</li>
                        <li>Directiva N&deg; 002-2021-PCM/SIP &ldquo;Lineamientos para fortalecer una cultura de integridad en las entidades del Sector P&uacute;blico&rdquo;<br /><a href="https://www.gob.pe/institucion/pcm/normas-legales/1999180-002-2021-pcm-sip" target="_blank">https://www.gob.pe/institucion/pcm/normas-legales/1999180-002-2021-pcm-sip</a><br />&nbsp;</li>
                        <li>El Reglamento Interno de Servidores Civiles del MIDIS, aprobado mediante Resoluci&oacute;n de Secretar&iacute;a General Nro. 028-2019-MIDIS/SG<br /><a href="https://www.gob.pe/institucion/midis/normas-legales/393676-028-2019-midis-sg" target="_blank">https://www.gob.pe/institucion/midis/normas-legales/393676-028-2019-midis-sg</a><br />&nbsp;</li>
                        <li>El Reglamento Interno de Seguridad y Salud en el Trabajo del MIDIS, oficializado mediante Resoluci&oacute;n Ministerial Nro. 136-2023-MIDIS<br /><a href="https://www.gob.pe/institucion/midis/normas-legales/4446891-136-2023-midis" target="_blank">https://www.gob.pe/institucion/midis/normas-legales/4446891-136-2023-midis</a><br />&nbsp;</li>
                        <li>Directiva N&deg; 013-2015-CG/GPROD Presentaci&oacute;n procesamiento y archivo de las Declaraciones Juradas de Ingresos y de Bienes y Rentas de los funcionarios y servidores p&uacute;blicos del Estado y sus modificatorias<br /><a href="https://www.gob.pe/institucion/contraloria/normas-legales/1721211-328-2015-cg" target="_blank">https://www.gob.pe/institucion/contraloria/normas-legales/1721211-328-2015-cg</a><br />&nbsp;</li>
                        <li>Ley N&deg; 31227, Ley que transfiere a la Contralor&iacute;a General de la Rep&uacute;blica la competencia para recibir y ejercer el control, fiscalizaci&oacute;n y sanci&oacute;n respecto a la declaraci&oacute;n jurada de intereses de autoridades, servidores y candidatos a cargos p&uacute;blicos, modificatorias y su reglamento<br /><a href="https://www.gob.pe/institucion/congreso-de-la-republica/normas-legales/2030677-31227" target="_blank">https://www.gob.pe/institucion/congreso-de-la-republica/normas-legales/2030677-31227</a><br />&nbsp;</li>
                    </ol>
                    <p>&nbsp;</p>
                    <p>Asimismo, reconozco que el MIDIS, en ejercicio de su poder de direcci&oacute;n, se reserva el derecho de modificar la normativa existente en el &aacute;mbito de su competencia, en cualquier momento y sin previo aviso. Mi r&uacute;brica confirma mi conocimiento, aceptaci&oacute;n y adherencia a las disposiciones normativas, obligaciones, regulaciones y procedimientos en lo que concierne a mis labores diarias.</p>
                    <p>&nbsp;</p>
                    <p style="font-size: 12px;">Lima //dia de //mes de //anio</p>
                </td>
            </tr>
            <tr>
                <td style="font-size: 12px; width: 419.599px;">
                    <p><br /><br /></p>
                </td>
                <td style="font-size: 12px; width: 218.401px;">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>_____________________________________<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Firma del Trabajador(a)</p>
                </td>
                <td style="width: 150px;">&nbsp;</td>
                <td style="width: 88px; border: 1px solid #d1d1d1;">&nbsp;</td>
                <td style="width: 10px;">&nbsp;</td>
                <td style="width: 29px;">&nbsp;</td>
                <td style="width: 30px;">&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 419.599px;">&nbsp;</td>
                <td style="width: 218.401px;">&nbsp;</td>
                <td style="width: 150px;">&nbsp;</td>
                <td style="font-size: 12px; width: 108px;">&nbsp; &nbsp; Huella dactilar</td>
                <td style="width: 10px;">&nbsp;</td>
                <td style="width: 29px;">&nbsp;</td>
                <td style="width: 30px;">&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>