<p>&nbsp;</p>
<div style="width: 1000px; padding: 0px 10px 30px;">
    <p><img style="padding-top: 10px; width: 980px;" src="//logo" alt="logo" /></p>
    <table style="font-family: 'PT Sans Narrow', sans-serif; font-size: 14px; width: 1000px; height: 200px;">
        <tbody>
            <tr>
                <td style="font-size: 16px; text-align: center; width: 945px;" colspan="7"><span style="font-weight: bold;">DECLARACI&Oacute;N JURADA SOBRE PROHIBICIONES E INCOMPATIBILIDADES</span></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="font-size: 14px; line-height: 18px;" colspan="7">
                    <p style="text-align: justify;">Yo, //nombre, identificado(a) con //dni, <strong>DECLARO&nbsp;BAJO JURAMENTO</strong>, lo siguiente:</p>
                    <ol type="a">
                        <li>
                            Cumplir con las obligaciones consignadas en el art&iacute;culo 3 de la Ley N&deg; 31564 y art&iacute;culo 16 de su Reglamento, esto es:
                            <ul>
                                <li>Guardar secreto, reserva o confidencialidad de los asuntos o informaci&oacute;n que, por ley expresa, tengan dicho car&aacute;cter. Esta obligaci&oacute;n se extiende aun cuando el v&iacute;nculo laboral o contractual con la entidad p&uacute;blica se hubiera extinguido y mientras la informaci&oacute;n mantenga su car&aacute;cter de secreta, reservada o confidencial</li>
                                <li>No divulgar ni utilizar informaci&oacute;n que, sin tener reserva legal expresa, pudiera resultar privilegiada por su contenido relevante, emple&aacute;ndola en su beneficio o de terceros, o en perjuicio o desmedro del Estado o de terceros</li>
                            </ul>
                        </li>
                        <li>Abstenerme de intervenir en los casos que se configure el supuesto de impedimento seńalado en el art&iacute;culo 5 de la Ley N&deg; 31564 y en los art&iacute;culos 10 y 11 de su Reglamento</li>
                        <li>No hallarme incurso en ninguno de los impedimentos seńalados en los numerales 11.3 y 11.4 del art&iacute;culo 11 del Reglamento de la Ley N&deg; 31564</li>
                    </ol>
                    <p>&nbsp;</p>
                    <p style="text-align: justify;">Suscribo la presente declaraci&oacute;n jurada manifestando que la informaci&oacute;n presentada se sujeta al principio de presunci&oacute;n de veracidad del numeral 1.7 del art&iacute;culo IV del TUO de la Ley N&deg; 27444, Ley del Procedimiento Administrativo General.</p>
                    <p style="text-align: justify;">Si lo declarado no se ajusta a lo anteriormente mencionado, me sujeto a lo establecido en el art&iacute;culo 438 del C&oacute;digo Penal y las dem&aacute;s responsabilidades administrativas, civiles y/o penales que correspondan, conforme al marco legal vigente.</p>
                    <p>&nbsp;</p>
                    <p>Lima //dia de //mes de //anio</p>
                </td>
            </tr>
            <tr>
                <td style="font-size: 12px; width: 419.599px;">
                    <p><br /><br /></p>
                </td>
                <td style="font-size: 12px; width: 218.401px;">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>_____________________________________<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Firma del Trabajador(a)</p>
                </td>
                <td style="width: 130px;">&nbsp;</td>
                <td style="width: 108px; border: 1px solid #d1d1d1;">&nbsp;</td>
                <td style="width: 10px;">&nbsp;</td>
                <td style="width: 29px;">&nbsp;</td>
                <td style="width: 30px;">&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 419.599px;">&nbsp;</td>
                <td style="width: 218.401px;">&nbsp;</td>
                <td style="width: 130px;">&nbsp;</td>
                <td style="font-size: 12px; width: 108px;">&nbsp; &nbsp; Huella dactilar</td>
                <td style="width: 10px;">&nbsp;</td>
                <td style="width: 29px;">&nbsp;</td>
                <td style="width: 30px;">&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>