<p>&nbsp;</p>
<div style="width: 1000px; padding: 0px 10px 30px;">
    <p><img style="padding-top: 10px; width: 980px" src="//logo" alt="logo" /></p>
    <table style="font-family: 'PT Sans Narrow', sans-serif; font-size: 14px; width: 1000px; height: 200px;">
        <tbody>
            <tr>
                <td style="font-size: 16px; text-align: center; width: 945px;" colspan="7">
                    <p><span style="font-weight: bold;">DECLARACION JURADA DE AUSENCIA DE NEPOTISMO </span></p>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="font-size: 14px; width: 945px;" colspan="7">
                    <p>Se&ntilde;ores<br />Ministerio de Desarrollo e Inclusi&oacute;n Social</p>
                    <p><br /><span style="text-decoration: underline;">Presente.-</span></p>
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td style="font-size: 14px; width: 945px;" colspan="7">
                    <p style="text-align: justify;">Yo, //nombre, identificado(a) con //dni,&nbsp; al amparo del Principio de presunci&oacute;n de veracidad se&ntilde;alado en el numeral 1.7 del art&iacute;culo IV del T&iacute;tulo Preliminar y lo establecido en el art&iacute;culo 51 del Decreto Supremo N&deg; 004-2019-JUS mediante el cual se aprueba el Texto &Uacute;nico Ordenado de la Ley N&deg; 27444, Ley del Procedimiento Administrativo General, <strong>DECLARO BAJO JURAMENTO, </strong>lo siguiente:</p>
                    <p style="text-align: justify;">No tener en la Instituci&oacute;n, familiares hasta el cuarto grado de consanguinidad, segundo de afinidad, por raz&oacute;n de matrimonio, uni&oacute;n de hecho, convivencia o ser progenitores de sus hijos, con la facultad de designar, nombrar, contratar o influenciar de manera directa o indirecta en el ingreso a laborar a MIDIS (verificar en el acceso: <a href="https://www.transparencia.gob.pe/personal/pte_transparencia_personal.aspx?id_entidad=14145&amp;id_tema=32&amp;ver"><strong><em>https://www.transparencia.gob.pe/personal/pte_transparencia_personal.aspx?id_entidad=14145&amp;id_tema=32&amp;ver</em></strong></a><strong><em>= </em></strong>&nbsp;).</p>
                    <p style="text-align: justify;">Por lo cual declaro que no me encuentro incurso en los alcances de la Ley N&deg; 26771 y su Reglamento aprobado por D.S. N&deg; 021-2000-PCM y sus modificatorias.&nbsp; Asimismo, me comprometo a no participar en ninguna acci&oacute;n que configure ACTO DE NEPOTISMO, conforme a lo determinado en las normas sobre la materia.&nbsp;</p>
                    <p><strong>EN CASO DE TENER PARIENTES</strong></p>
                    <p style="text-align: justify;"><strong>DECLARO BAJO JURAMENTO</strong> que en el Ministerio de Desarrollo e Inclusi&oacute;n Social - MIDIS laboran las personas cuyos apellidos y nombres indico, a quien(es) me une la relaci&oacute;n o vinculo de afinidad, consanguinidad, v&iacute;nculo matrimonial o uni&oacute;n de hecho, se&ntilde;alados a continuaci&oacute;n:</p>
                    <p><em>Hasta 4to grado de consanguinidad: Padres, hijos, nietos, hermanos, abuelos, bisabuelos, bisnietos, t&iacute;os, sobrinos, tatarabuelos, tataranieto, primos hermanos, t&iacute;o abuelo, sobrino nieto.</em><br /><em>Hasta 2do grado de afinidad: Suegro, yerno, nuera, cu&ntilde;ado, c&oacute;nyuge o concubino o conviviente o de uni&oacute;n de hecho; o hijo del c&oacute;nyuge o del conviviente o concubino o uni&oacute;n de hecho que no es hijo del/ de la servidor/a. Cu&ntilde;ado, abuelo y nieto del c&oacute;nyuge o conviviente o concubino o uni&oacute;n de hecho seg&uacute;n Ley N&ordm; 31299.</em></p>
                    <table style="width: 990px; border: 0px solid #f0f0f0;" border="1" cellspacing="0" cellpadding="2">
                        <tbody>
                            <tr>
                                <td style="background-color: #d1d1d1; font-size: 11px; width: 165px; text-align: center;"><strong>RELACI&Oacute;N</strong></td>
                                <td style="background-color: #d1d1d1; font-size: 11px; width: 300px; text-align: center;"><strong>&nbsp;APELLIDOS</strong></td>
                                <td style="background-color: #d1d1d1; font-size: 11px; width: 210.182px; text-align: center;"><strong>&nbsp;NOMBRES</strong></td>
                                <td style="background-color: #d1d1d1; font-size: 11px; width: 292.818px; text-align: center;"><strong>&nbsp;&Aacute;REA DE TRABAJO</strong></td>
                            </tr>
                            <tr>
                                <td style="width: 165px;">//neporelacion1&nbsp;</td>
                                <td style="width: 300px;">//nepoapellido1&nbsp;</td>
                                <td style="width: 210.182px;">//neponombre1&nbsp;</td>
                                <td style="width: 292.818px;">//nepoarea1&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="width: 165px;">//neporelacion2&nbsp;</td>
                                <td style="width: 300px;">//nepoapellido2&nbsp;</td>
                                <td style="width: 210.182px;">//neponombre2&nbsp;</td>
                                <td style="width: 292.818px;">//nepoarea2&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>De igual modo, declaro que los apellidos (completos) y nombres de mis padres son:</p>
                    <p>
                        PADRE: __________________________________________________________________________<br>
                        MADRE: __________________________________________________________________________
                    </p>
                    <p>&nbsp;</p>
                    <p>Complementariamente (de ser el caso), declaro que los apellidos (completos) y nombres de mi c&oacute;nyuge o conviviente son: _______________________________________________________________________</p>
                    <p>Declaro bajo juramento que los datos consignados en la presente Declaraci&oacute;n Jurada son verdaderos, en concordancia con el principio de presunci&oacute;n de veracidad del numeral 1.7 del art&iacute;culo IV del TUO de la Ley N&deg; 27444, Ley del Procedimiento Administrativo General, siendo posibles de fiscalizaci&oacute;n posterior prevista en el art&iacute;culo 34&deg; del mismo marco legal, aceptando las responsabilidades administrativas, civiles y/o penales que se pudieran derivar en caso se compruebe que los datos proporcionados son falsos o incompletos.</p>
                    <p>Declaro que tengo conocimiento que, si lo declarado es falso, podr&iacute;a incurrir en los delitos de: Nombramiento, designaci&oacute;n, contrataci&oacute;n, encargatura o aceptaci&oacute;n ilegal de cargo; falsa declaraci&oacute;n en procedimiento administrativo, falsificaci&oacute;n de documentos y falsedad gen&eacute;rico tipificados en los art&iacute;culos 381&deg;, 411&deg;, 427&deg; y 438&deg; del C&oacute;digo Penal, respectivamente.</p>
                    <p style="font-size: 12px;">Lima //dia de //mes de //anio</p>
                </td>
            </tr>
            <tr>
                <td style="font-size: 12px; width: 419.599px;">
                    <p><br /><br /></p>
                </td>
                <td style="font-size: 12px; width: 218.401px;">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>_____________________________________<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Firma del Trabajador(a)</p>
                </td>
                <td style="width: 150px;">&nbsp;</td>
                <td style="width: 88px; border: 1px solid #d1d1d1;">&nbsp;</td>
                <td style="width: 10px;">&nbsp;</td>
                <td style="width: 29px;">&nbsp;</td>
                <td style="width: 30px;">&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 419.599px;">&nbsp;</td>
                <td style="width: 218.401px;">&nbsp;</td>
                <td style="width: 150px;">&nbsp;</td>
                <td style="font-size: 12px; width: 108px;">&nbsp; &nbsp; Huella dactilar</td>
                <td style="width: 10px;">&nbsp;</td>
                <td style="width: 29px;">&nbsp;</td>
                <td style="width: 30px;">&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>