<p>&nbsp;</p>
<div style="width: 1000px; padding: 0px 10px 30px;">
    <p><img style="padding-top: 10px; width: 980px" src="//logo" alt="logo" /></p>
    <table style="font-family: 'PT Sans Narrow', sans-serif; font-size: 14px; width: 970px; height: 200px;">
        <tbody>
            <tr>
                <td style="font-size: 16px; text-align: center; width: 1000px;" colspan="7"><span style="font-weight: bold;">DECLARACI&Oacute;N JURADA DE ELECCI&Oacute;N DE CUENTA SUELDO</span></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="font-size: 14px; width: 945px;" colspan="7">
                    <p>Se&ntilde;ores<br />Ministerio de Desarrollo e Inclusi&oacute;n Social</p>
                    <p><br /><span style="text-decoration: underline;">Presente.-</span></p>
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td style="font-size: 14px; width: 945px;" colspan="7">
                    <p style="text-align: justify;">Yo, //nombre, identificad(a) con //dni, <strong>DECLARO BAJO JURAMENTO QUE</strong>:</p>
                    <table style="height: 198px; width: 888px;">
                        <tbody>
                            <tr style="height: 82px;">
                                <td style="height: 82px; width: 138.172px;"><span style="font-size: 20px; border: 1px solid #d1d1d1; padding: 5px 10px 5px 10px;"><strong>//suel_no</strong></span></td>
                                <td style="font-size: 14px; width: 733.828px; height: 82px;" colspan="2">NO tengo una cuenta y solicito se me aperture una para el dep&oacute;sito de mi remuneraci&oacute;n mensual y/o o beneficios que deriven del r&eacute;gimen laboral al que pertenezco</td>
                            </tr>
                            <tr style="height: 62px;">
                                <td style="height: 62px; width: 138.172px;"><span style="font-size: 20px; border: 1px solid #d1d1d1; padding: 5px 10px 5px 10px;"><strong>//suel_si</strong></span></td>
                                <td style="font-size: 14px; width: 733.828px; height: 82px;" colspan="2">SI tengo una cuenta sueldo y autorizo se me deposite mi remuneraci&oacute;n mensual y/o beneficios que deriven del r&eacute;gimen laboral al que pertenezco, de acuerdo al siguiente detalle:</td>
                            </tr>
                            <tr style="height: 18px;">
                                <td style="height: 18px; width: 138.172px;">&nbsp;</td>
                                <td style="font-size: 13px; width: 287.312px; height: 18px;"><strong>Entidad Financiera</strong></td>
                                <td style="font-size: 13px; width: 440.516px; height: 18px;">: //banco</td>
                            </tr>
                            <tr style="height: 18px;">
                                <td style="height: 18px; width: 138.172px;">&nbsp;</td>
                                <td style="font-size: 13px; width: 287.312px; height: 18px;"><strong>N&uacute;mero de Cuenta</strong></td>
                                <td style="font-size: 13px; width: 440.516px; height: 18px;">: //cuenta</td>
                            </tr>
                            <tr style="height: 18px;">
                                <td style="height: 18px; width: 138.172px;">&nbsp;</td>
                                <td style="font-size: 13px; width: 287.312px; height: 18px;"><strong>C&oacute;digo de Cuenta Interbancaria (CCI)</strong></td>
                                <td style="font-size: 13px; width: 440.516px; height: 18px;">: //cci</td>
                            </tr>
                            <tr>
                                <td style="width: 138.172px;">&nbsp;</td>
                                <td style="font-size: 13px; width: 287.312px;"><strong>&nbsp;</strong></td>
                                <td style="font-size: 13px; width: 440.516px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="width: 138.172px;">&nbsp;</td>
                                <td style="font-size: 13px; width: 773.828px;" colspan="2">Asimismo, a efectos de validar dicha informaci&oacute;n, remito una copia de voucher y/o documento que acredite mi cuenta vigente.</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <p>Para constancia sobre la veracidad de mi voluntad, rubrico la presente al pie, imprimiendo la huella dactilar</p>
                    <p>&nbsp;</p>
                    <p style="font-size: 12px">Lima //dia de //mes de //anio</p>
                </td>
            </tr>
            <tr>
                <td style="font-size: 12px; width: 419.599px;">
                    <p><br /><br /></p>
                </td>
                <td style="font-size: 12px; width: 218.401px;">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>_____________________________________<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Firma del Trabajador(a)</p>
                </td>
                <td style="width: 150px;">&nbsp;</td>
                <td style="width: 88px; border: 1px solid #d1d1d1;">&nbsp;</td>
                <td style="width: 10px;">&nbsp;</td>
                <td style="width: 29px;">&nbsp;</td>
                <td style="width: 30px;">&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 419.599px;">&nbsp;</td>
                <td style="width: 218.401px;">&nbsp;</td>
                <td style="width: 150px;">&nbsp;</td>
                <td style="font-size: 12px; width: 108px;">&nbsp; &nbsp; Huella dactilar</td>
                <td style="width: 10px;">&nbsp;</td>
                <td style="width: 29px;">&nbsp;</td>
                <td style="width: 30px;">&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>