<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body style="font-family: 'PT Sans Narrow',sans-serif;">
    <div style="width: 800px; padding: 0px 10px 30px;">
        <p><img style="padding-top: 10px; width: 280px" src="//logo" alt="logo" /></p>
        <table style="font-family: 'PT Sans Narrow', sans-serif; font-size: 14px; width: 800px; height: 200px;">
            <tbody>
                <tr>
                    <td style="font-size: 16px; text-align: center; width: 945px;" colspan="7"><span style="text-decoration: underline; font-weight: bold;">ANEXO N&deg;1: FORMATO DE REQUERIMIENTO DE PERSONAL CAS</span></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-size: 14px; line-height: 18px;" colspan="7">
                        <p style="text-align: justify;">I. Motivo del Requerimiento</p>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 14px; line-height: 18px;" colspan="7">
                        <table style="width: 800pt; border-collapse: collapse; border: none; height: 83px;">
                            <tbody>
                                <tr style="height: 10px;">
                                    <td style="width: 800px; border: 1pt solid windowtext; padding: 0cm 5.4pt; height: 10px; vertical-align: top;" colspan="2">
                                        <p style="line-height: normal; font-size: 14px; text-align: left;"><strong><span style="font-size: 14px; font-family: 'Arial',sans-serif; color: black;">1. Por reemplazo</span></strong></p>
                                    </td>
                                </tr>
                                <tr style="height: 10px;">
                                    <td style="width: 400px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0cm 5.4pt; height: 24px; vertical-align: top;"><span style="font-size: 14px; font-family: 'Arial',sans-serif;">Apellidos y nombres del servidor cesado</span></td>
                                    <td style="width: 400px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt; height: 24px; vertical-align: top;"><span style="font-size: 14px; font-family: 'Arial',sans-serif;">//cesado</span></td>
                                </tr>
                                <tr style="height: 10px;">
                                    <td style="width: 400px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0cm 5.4pt; height: 24px; vertical-align: top;"><span style="font-size: 14px; font-family: 'Arial',sans-serif;">Denominación del puesto</span></td>
                                    <td style="width: 400px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt; height: 24px; vertical-align: top;"><span style="font-size: 14px; font-family: 'Arial',sans-serif;">//nombrepuesto1</span></td>
                                </tr>
                                <tr style="height: 10px;">
                                    <td style="width: 400px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0cm 5.4pt; height: 25px; vertical-align: top;"><span style="font-size: 14px; font-family: 'Arial',sans-serif;">Remuneración mensual</span></td>
                                    <td style="width: 400px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt; height: 25px; vertical-align: top;"><span style="font-size: 14px; font-family: 'Arial',sans-serif;">//remuneracion1</span></td>
                                </tr>
                                <tr style="height: 10px;">
                                    <td style="width: 400px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0cm 5.4pt; height: 25px; vertical-align: top;"><span style="font-size: 14px; font-family: 'Arial',sans-serif;">Fecha de cese</span></td>
                                    <td style="width: 400px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt; height: 25px; vertical-align: top;"><span style="font-size: 14px; font-family: 'Arial',sans-serif;">//fechacese</span></td>
                                </tr>
                                <tr style="height: 10px;">
                                    <td style="width: 800px; border: 1pt solid windowtext; padding: 0cm 5.4pt; height: 10px; vertical-align: top;" colspan="2">
                                        <p style="line-height: normal; font-size: 14px; text-align: left;"><strong><span style="font-size: 14px; font-family: 'Arial',sans-serif; color: black;">2. Nuevo</span></strong></p>
                                    </td>
                                </tr>
                                <tr style="height: 10px;">
                                    <td style="width: 400px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0cm 5.4pt; height: 24px; vertical-align: top;"><span style="font-size: 14px; font-family: 'Arial',sans-serif;">Denominación del puesto</span></td>
                                    <td style="width: 400px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt; height: 24px; vertical-align: top;"><span style="font-size: 14px; font-family: 'Arial',sans-serif;">//nombrepuesto2</span></td>
                                </tr>
                                <tr style="height: 10px;">
                                    <td style="width: 400px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0cm 5.4pt; height: 25px; vertical-align: top;"><span style="font-size: 14px; font-family: 'Arial',sans-serif;">Remuneración mensual</span></td>
                                    <td style="width: 400px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt; height: 25px; vertical-align: top;"><span style="font-size: 14px; font-family: 'Arial',sans-serif;">//remuneracion2</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-size: 14px; line-height: 18px;" colspan="7">
                        <p style="text-align: justify;">II. Información del Puesto a cubrir</p>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 14px; line-height: 18px;" colspan="7">
                        <table style="width: 800pt; border-collapse: collapse; border: none; height: 83px;">
                            <tbody>
                                <tr>
                                    <td style="width: 400px; border: 1pt solid windowtext; padding: 0cm 5.4pt; height: 10px; vertical-align: top;">
                                        <p style="line-height: normal; font-size: 14px; text-align: left;"><span style="font-size: 14px; font-family: 'Arial',sans-serif; color: black;">Denominación del puesto</span></p>
                                    </td>
                                    <td style="width: 400px; border-top: 1pt solid windowtext; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-image: initial; border-left: none; padding: 0cm 5.4pt; height: 10px; vertical-align: top;">//nombrepuesto</td>
                                </tr>
                                <tr style="height: 10px;">
                                    <td style="width: 400px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0cm 5.4pt; height: 24px; vertical-align: top;"><span style="font-size: 14px; font-family: 'Arial',sans-serif;">N° de posiciones</span></td>
                                    <td style="width: 400px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt; height: 24px; vertical-align: top;"><span style="font-size: 14px; font-family: 'Arial',sans-serif;">//posiciones</span></td>
                                </tr>
                                <tr style="height: 10px;">
                                    <td style="width: 400px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0cm 5.4pt; height: 24px; vertical-align: top;"><span style="font-size: 14px; font-family: 'Arial',sans-serif;">Órgano</span></td>
                                    <td style="width: 400px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt; height: 24px; vertical-align: top;"><span style="font-size: 14px; font-family: 'Arial',sans-serif;">//organo</span></td>
                                </tr>
                                <tr style="height: 10px;">
                                    <td style="width: 400px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0cm 5.4pt; height: 25px; vertical-align: top;"><span style="font-size: 14px; font-family: 'Arial',sans-serif;">Unidad orgánica</span></td>
                                    <td style="width: 400px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt; height: 25px; vertical-align: top;"><span style="font-size: 14px; font-family: 'Arial',sans-serif;">//unidad_organica</span></td>
                                </tr>
                                <tr style="height: 10px;">
                                    <td style="width: 400px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0cm 5.4pt; height: 25px; vertical-align: top;"><span style="font-size: 14px; font-family: 'Arial',sans-serif;">Remuneración mensual</span></td>
                                    <td style="width: 400px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt; height: 25px; vertical-align: top;"><span style="font-size: 14px; font-family: 'Arial',sans-serif;">//remuneracion</span></td>
                                </tr>
                                <tr style="height: 10px;">
                                    <td style="width: 400px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0cm 5.4pt; height: 25px; vertical-align: top;"><span style="font-size: 14px; font-family: 'Arial',sans-serif;">Periodo de contratación</span></td>
                                    <td style="width: 400px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt; height: 25px; vertical-align: top;"><span style="font-size: 14px; font-family: 'Arial',sans-serif;">//periodo</span></td>

                                </tr>
                                <tr style="height: 10px;">
                                    <td style="width: 400px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0cm 5.4pt; height: 25px; vertical-align: top;"><span style="font-size: 14px; font-family: 'Arial',sans-serif;">Meta presupuestal afecta</span></td>
                                    <td style="width: 400px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt; height: 25px; vertical-align: top;"><span style="font-size: 14px; font-family: 'Arial',sans-serif;">//meta</span></td>

                                </tr>
                                <tr style="height: 10px;">
                                    <td style="width: 400px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0cm 5.4pt; height: 25px; vertical-align: top;"><span style="font-size: 14px; font-family: 'Arial',sans-serif;">Tipo de servicio (cuando corresponda)</span></td>
                                    <td style="width: 400px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt; height: 25px; vertical-align: top;"><span style="font-size: 14px; font-family: 'Arial',sans-serif;">//tipo_servicio</span></td>

                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-size: 14px; line-height: 18px;" colspan="7">
                        <p style="text-align: justify;">III. Justificación del requerimiento</p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 500px; border-top: none; border-left: none; border: 1pt solid windowtext; padding: 0cm 5.4pt; height: 25px; vertical-align: top;" colspan="7"><span style="font-size: 14px; font-family: 'Arial',sans-serif;">//justificacion</span></td>
                </tr>
                <tr>
                    <td style="width: 20px">&nbsp;</td>
                    <td style="font-size: 14px; line-height: 18px;" colspan="6">
                        <p style="text-align: justify;">En adición a las evaluaciones obligatorias, se requiere aplicar la siguiente evaluación:</p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 20px">&nbsp;</td>
                    <td style="font-size: 14px; line-height: 18px;" colspan="6">
                        //evaluaciones
                    </td>
                </tr>
                <tr>
                    <td style="width: 20px">&nbsp;</td>
                    <td style="font-size: 14px; line-height: 18px;" colspan="6">
                        <p style="text-align: justify;">Adjunto al presente, el formato de perfil de puesto, de acuerdo al formato Anexo N° 02.</p>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="width: 20px">&nbsp;</td>
                    <td style="font-size: 14px; line-height: 18px;" colspan="6">
                        <p style="text-align: justify;">Atentamente</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
