@{
    Layout = null;
    ViewBag.Title = "ChangePasswordResult";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sistema de Convocatorias CAS - MIDIS</title>

    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <!-- Bootstrap -->
    @*<link href="~/Content/vendor/css/dataTables.bootstrap.min.css" rel="stylesheet">*@
    <link href="~/Content/DataTables/DataTables-1.10.20/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="../vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/Content/css/custom.min.css" rel="stylesheet">
    <!-- jQuery -->
    @*<script src="~/Content/vendor/js/jquery.min.js"></script>*@
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/source/modBase.js"></script>

    <script type="text/javascript">
        //$(document).ready(function () {
            setTimeout(function () {
                var url = '@Url.Action("Index", "Account")';
                window.location = url;
            }, 5000);
        //});
    </script>
</head>

<body class="login">
    <div class="color-line"></div>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form>
                    <div class="hpanel">
                        <div class="panel-body">
                            <div class="alert alert-success p-2 m-2" role="alert">
                                ¡La contraseña ha sido cambiado con éxito!
                            </div>
                            <span>En 5 segundos se redireccionará a la página de inicio de sesión</span>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</body>
</html>



