@using System.Configuration
@using MVCSisGesRRHH.Models;
@using Newtonsoft.Json;

@model ControlAsistenciaModel

@{
    ViewBag.Title = "CONTROL DE ASISTENCIA  ->  REPORTE DE SOBRETIEMPO";
    String PERFIL_JEFE_CTRL_ASISTENCIA = ConfigurationManager.AppSettings["IdPerfilJefeCtrlAsistencia"]; //182
    String PERFIL_EMPLE_CTRL_ASISTENCIA = ConfigurationManager.AppSettings["IdPerfilEmpleadoCtrlAsistencia"]; //183
    String PERFIL_ADMIN_CTRL_ASISTENCIA = ConfigurationManager.AppSettings["IdPerfilAdminCtrlAsistencia"]; //184

    var cCodPerfil = VariablesWeb.ConsultaInformacion.Perfil[0].iCodPerfil.ToString();
}
@section SubTitulo {
    <div id="toolbar" class="form-group row k-toolbar k-widget k-toolbar-resizable" style="border-color: #b1acac; color: #32364c; margin: 5px ">
        <div class="col-md-10">
            &nbsp;&nbsp;<span class="indicador glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            <h6>@ViewBag.Title</h6>
        </div>
    </div>
}

<style>
    .row {
        margin-right: 0px;
        margin-left: 0px;
    }

    .contentWrap {
        position: relative;
        width: 98%;
        margin: 0 auto;
        padding: 0;
    }

    .tdDetalle {
        /*font-weight: bold;*/
        font-size: 11px;
        border-style: solid;
        border-width: 1px;
        padding: 5px;
        border-color: #ccc;
    }

    .tdDetalleNegrita {
        font-size: 11px;
        font-weight: bold;
        border-style: solid;
        border-width: 1px;
        padding: 5px;
        border-color: #ccc;
        background-color: #F5F5F5;
    }

    legend {
        display: block;
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: inherit;
        color: #333;
        border: 0;
        border-bottom: 1px solid #e5e5e5;
    }

    .k-grid .k-state-selected {
        background-color: #aaffff !important;
        color: #000000;
    }

    .k-grid .k-alt.k-state-selected {
        background-color: #aaffff !important;
        color: #000000;
    }

    .k-grid-header th.k-header {
        vertical-align: bottom;
        text-align: center;
    }

    /*tr.k-footer-template td {
        font-size: 14px;
        background-color: RGB(255, 221, 221) !important;
        border-width: 1px 0px;
        border-color: RGB(255, 122, 122);
        border-style: solid;
        padding: 3px 5px 3px 5px;
        text-align: right;
    }

    tr.k-group-footer td {
        text-align: right;
    }*/

    .console {
        background-color: transparent;
        color: #333;
        font: 11px Consolas, Monaco, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
        margin: 0;
        overflow-x: hidden;
        text-align: left;
        height: 200px;
        border: 1px solid rgba(20,53,80,0.1);
        background-color: #ffffff;
        text-indent: 0;
    }

        .console div {
            background-position: 6px -95px;
            border-bottom: 1px solid #DDD;
            padding: 5px 10px;
            height: 2em;
            line-height: 2em;
            vertical-align: middle;
        }

    input, label, .k-input {
        font-size: 11px !important;
    }

    .btn-group-xs > .btn, .btn-xs {
        padding: .25rem .4rem;
        font-size: .875rem;
        line-height: .5;
        border-radius: .2rem;
    }

    .demo-section ul {
        margin: 0;
        padding: 0;
    }

        .demo-section ul li {
            list-style-type: none;
            margin: 0;
            padding: 10px 10px 10px 20px;
            min-height: 28px;
            line-height: 28px;
            vertical-align: middle;
            border-top: 1px solid rgba(128,128,128,.5);
        }

    .demo-section {
        min-width: 220px;
        margin-top: 15px;
        padding: 0;
    }

        .demo-section ul li .k-switch {
            float: right;
        }

    .wrapper {
        height: auto;
        min-height: 600px;
        /*margin: 20px auto;
        padding: 20px 0 0;*/
    }

    .alert {
        position: relative;
        padding: 0.5rem 0.75rem;
        margin-bottom: 0rem;
        border: 1px solid transparent;
        border-radius: 0.25rem 0rem 0rem 0.25rem;
    }

    /* Ocultar las etiquetas */
    #ddlFecha_busqueda .k-label {
        display: none; /* Esto oculta las etiquetas */
    }

    .k-floating-label-container {
        padding-top: 0px;
    }
    /*.k-input-inner {
        padding: .167em 12px;
        width: 100%;*/
    /*border: 1; */
    /*outline: 0;
        color: inherit;
        background: 0 0;
        font: inherit;
        -ms-flex: 1;
        flex: 1;
        position: relative;
        z-index: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-appearance: none;
    }*/

    /*#pnlEmpleado {
        width: 150px;
        margin-left: auto;
        margin-right: 0;
    }

    #pnlEmpleado p {
        padding: 1em;
        margin-top: 0px;
        margin-bottom: 0px;
    }*/

    .content-clock {
        display: flex;
        justify-content: center;
        align-items: center;
        /*height: 100vh;
        background-color: #f0f0f0;*/
        font-family: Arial, sans-serif;
    }

    .clock {
        margin: 0px auto;
        width: 300px;
        height: 300px;
        fill: white;
    }

    .outer-circle,
    .center-circle {
        fill: black;
    }

    .center-circle-2 {
        fill: orange;
    }

    .hours,
    .minutes,
    .seconds {
        transform-origin: center;
        stroke-linecap: round;
    }

    .hours {
        stroke: black;
        stroke-width: 3px;
        transition: transform 1s ease-in-out;
    }

    .minutes {
        stroke-width: 2px;
        stroke: black;
        transition: transform 1s ease-in-out;
    }

    .seconds {
        stroke: orange;
    }

    .line {
        stroke-width: 1px;
        stroke: black;
        stroke-linecap: round;
        transform-origin: center;
    }

    .number {
        font-family: tahoma;
        font-size: 10px;
        fill: black;
        text-anchor: middle;
    }

    .circle-icon {
        display: inline-block;
        width: 20px; /* Tamaño del círculo */
        height: 20px;
        border-radius: 50%; /* Esto hace el círculo */
        background-color: #fff; /* Fondo blanco para el círculo */
        border: 2px solid #f39c12; /* Borde del círculo (color amarillo) */
        text-align: center;
        line-height: 20px; /* Centra el ícono dentro del círculo */
        margin-right: 5px; /* Espacio entre el ícono circular y el texto */
    }

        .circle-icon .glyphicon {
            font-size: 16px; /* Tamaño del ícono */
            color: #f39c12; /* Color del ícono (mismo que el borde del círculo) */
        }

    #dtpFechaCompensacionIzquierda_registro .k-calendar-view,
    #dtpFechaCompensacionDerecha_registro .k-calendar-view {
        width: 90% !important;
    }
</style>

<!-- Main content -->
<section class="content">
    <!--FORMULARIO DE BÚSQUEDA-->
    <div id="accordion">
        <div class="card">
            <div class="card-header">
                <a data-toggle="collapse" href="#collapseBusqueda" @* role="button" aria-expanded="true" aria-controls="collapseBusqueda"*@>
                    <span class="indicador glyphicon glyphicon-chevron-up" aria-hidden="true"></span> INGRESE CRITERIOS DE B&Uacute;SQUEDA
                </a>
            </div>
            <div id="collapseBusqueda" class="collapse show">
                <div class="card-body">
                    <div class="row form-horizontal">
                        <div class="col-12">
                            <form id="frmBusqueda" onsubmit="controlador.buscar(event)">
                                <div class="form-group row">
                                    <label for="ddlDependencia_busqueda" class="col-md-1 col-form-label text-right">Dependencia </label>
                                    <div class="col-md-3">
                                        @if (cCodPerfil == PERFIL_ADMIN_CTRL_ASISTENCIA)
                                        {
                                            <select id="ddlDependencia_busqueda" name="ddlDependencia_busqueda" class="form-control" style="width: 100%;">
                                                <option value="">-- Seleccione --</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <select id="ddlDependencia_busqueda" name="ddlDependencia_busqueda" class="form-control" style="width: 100%;" disabled>
                                                <option value="">-- Seleccione --</option>
                                            </select>
                                        }
                                    </div>
                                    <label for="ddlEmpleado_busqueda" class="col-md-1 col-form-label text-right">Empleado </label>
                                    <div class="col-md-3">
                                        @if (cCodPerfil == PERFIL_ADMIN_CTRL_ASISTENCIA || cCodPerfil == PERFIL_JEFE_CTRL_ASISTENCIA)
                                        {
                                            <select id="ddlEmpleado_busqueda" name="ddlEmpleado_busqueda" class="form-control" style="width: 100%;">
                                                <option value="">-- Seleccione --</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <select id="ddlEmpleado_busqueda" name="ddlEmpleado_busqueda" class="form-control" style="width: 100%;" disabled>
                                                <option value="">-- Seleccione --</option>
                                            </select>
                                        }
                                    </div>

                                    <label for="txtFecha_busqueda" class="col-md-1 col-form-label text-right">Fecha </label>
                                    <div class="col-md-3">
                                        <select id="ddlMeses_busqueda" name="ddlMeses_busqueda" class="form-control" style="width: 100%;">
                                            <option value="">-- Seleccione --</option>
                                        </select>
                                    </div>


                                </div>
                                <div class="form-group row">

                                    <label for="" class="col-md-1 col-form-label text-right"> </label>
                                    <div class="col-md-3">
                                        
                                    </div>

                                    <div class="col-md-8" style="text-align: right;">
                                        <button type="reset" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-eject" aria-hidden="true"></span> Limpiar
                                        </button>
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--FORMULARIO DE BÚSQUEDA-->
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a data-toggle="collapse" href="#">
                    <span class="indicador glyphicon glyphicon-chevron-up" aria-hidden="true"></span>  RESULTADO DE LA B&Uacute;SQUEDA
                </a>
            </div>
            <div class="card-body" id="divListarAplicacion">
                
                <div class="row">
                    <div id="divTotal" class="col-md-2">
                        <h5><label>Total de Registros: &nbsp;</label><label id="lblTotal" class="label label-info"></label></h5>
                    </div>
                    <div class="col-md-10">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="divGrid"></div>
                </div>
            </div>

        </div>
    </div>   

    <input id="hdnUid" name="hdnUid" type="hidden" />
</section>
<!-- /.content -->
@section Scripts {
    <script src="~/Scripts/kendo/2022.1.456/jszip.min.js"></script>
    <script src="~/Scripts/App/Intranet/RptSobretiempo.js"></script>
    <script src="~/Scripts/source/modBase.js"></script>

    <script type="text/javascript">
        var controlador;
        var fechaStr = '@System.DateTime.Now.ToUniversalTime().ToString("yyyy-MM-ddTHH:mm:ssZ")'
        var fechaServer = new Date(fechaStr);
        //alert(fechaServer);
        $(document).ready(function () {
            controlador = new SobretiempoJS();
            controlador.PERFIL_JEFE_CTRL_ASISTENCIA = '@PERFIL_JEFE_CTRL_ASISTENCIA';
            controlador.PERFIL_EMPLE_CTRL_ASISTENCIA = '@PERFIL_EMPLE_CTRL_ASISTENCIA';
            controlador.PERFIL_ADMIN_CTRL_ASISTENCIA = '@PERFIL_ADMIN_CTRL_ASISTENCIA';
            controlador.PERFIL = '@cCodPerfil';
            controlador.codUsuario = '@VariablesWeb.ConsultaInformacion.iCodUsuario';

            controlador.Empleado = @Html.Raw(JsonConvert.SerializeObject(Model.Empleado, new JsonSerializerSettings
            {
                MaxDepth = null,
                ReferenceLoopHandling = ReferenceLoopHandling.Ignore,
                PreserveReferencesHandling = PreserveReferencesHandling.None,
                TypeNameHandling = TypeNameHandling.None
            }));

            controlador.inicializarMaestro();
        });
    </script>
}