@using System.Configuration
@using MVCSisGesRRHH.Models;

@{
    ViewBag.Title = "PLANILLAS  ->  ASISTENCIAS Y PERMISOS";
}
@section SubTitulo { <h3>@ViewBag.Title</h3> }
<style>
    .row {
        margin-right: 0px;
        margin-left: 0px;
    }

    .contentWrap {
        position: relative;
        width: 98%;
        margin: 0 auto;
        padding: 0;
    }

    .tdDetalle {
        /*font-weight: bold;*/
        font-size: 11px;
        border-style: solid;
        border-width: 1px;
        padding: 5px;
        border-color: #ccc;
    }

    .tdDetalleNegrita {
        font-size: 11px;
        font-weight: bold;
        border-style: solid;
        border-width: 1px;
        padding: 5px;
        border-color: #ccc;
        background-color: #F5F5F5;
    }

    legend {
        display: block;
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: inherit;
        color: #333;
        border: 0;
        border-bottom: 1px solid #e5e5e5;
    }

    .k-grid .k-state-selected {
        background-color: #aaffff !important;
        color: #000000;
    }

    .k-grid .k-alt.k-state-selected {
        background-color: #aaffff !important;
        color: #000000;
    }

    .k-grid-header th.k-header {
        vertical-align: bottom;
        text-align: center;
    }

    /*tr.k-footer-template td {
        font-size: 14px;
        background-color: RGB(255, 221, 221) !important;
        border-width: 1px 0px;
        border-color: RGB(255, 122, 122);
        border-style: solid;
        padding: 3px 5px 3px 5px;
        text-align: right;
    }

    tr.k-group-footer td {
        text-align: right;
    }*/

    .console {
        background-color: transparent;
        color: #333;
        font: 11px Consolas, Monaco, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
        margin: 0;
        overflow-x: hidden;
        text-align: left;
        height: 200px;
        border: 1px solid rgba(20,53,80,0.1);
        background-color: #ffffff;
        text-indent: 0;
    }

        .console div {
            background-position: 6px -95px;
            border-bottom: 1px solid #DDD;
            padding: 5px 10px;
            height: 2em;
            line-height: 2em;
            vertical-align: middle;
        }

    input, label, .k-input {
        font-size: 11px;
    }
</style>

<!-- Main content -->
<section class="content">
    <div class="panel-group" id="accordion">
        <!--BUSQUEDA-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" href="#collapseBusqueda">
                    <span class="indicador glyphicon glyphicon-chevron-up" aria-hidden="true"></span> INGRESE CRITERIOS DE B&Uacute;SQUEDA
                </a>
            </div>
            <div id="collapseBusqueda" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row form-horizontal text-center">
                        <form id="frmBandejaAsistPerm" name="frmBandejaAsistPerm" novalidate="" onsubmit="controlador.buscar(event)">
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="ddlAnioAsistPerm_busqueda" class="col-md-4 control-label">Año </label>
                                    <div class="col-md-8">
                                        <select id="ddlAnioAsistPerm_busqueda" name="ddlAnioAsistPerm_busqueda" class="form-control" style="width: 100%;">
                                            <option value="">-- Todos --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="ddlMesAsistPerm_busqueda" class="col-md-4 control-label">Mes </label>
                                    <div class="col-md-8">
                                        <select id="ddlMesAsistPerm_busqueda" name="ddlMesAsistPerm_busqueda" class="form-control" style="width: 100%;">
                                            <option value="">-- Todos --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="ddlRegimenLaboral_busqueda" class="col-md-4 control-label">Planilla </label>
                                    <div class="col-md-8">
                                        <select id="ddlPlanillaAsistPerm_busqueda" name="ddlPlanillaAsistPerm_busqueda" class="form-control" style="width: 100%;">
                                            <option value="">-- Todos --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12" style="text-align: center; padding-top: 10px;">

                                    <button type="reset" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-eject" aria-hidden="true"></span> Limpiar
                                    </button>
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar
                                    </button>
                                    <button type="button" class="btn btn-info btn-sm" onclick="controlador.abrirModalImportarAsistencia()">
                                        <span class="glyphicon glyphicon-import" aria-hidden="true"></span> Importar
                                    </button>
                                    <button type="button" id="btnCerrarPlanilla" class="btn btn-success btn-sm" onclick="controlador.CerrarFase(2)" >
                                        <span class="glyphicon glyphicon-saved" aria-hidden="true"></span> Cerrar Asistencia
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-body" id="divListarAplicacionBandejaAsistPerm">
                    @*<div class="row">
                            <div id="divTotal" class="col-md-2">
                                <h5><label>Total de Registros: &nbsp;</label><label id="lblTotal" class="label label-info"></label></h5>
                            </div>
                            <div class="col-md-10" style="text-align: right; margin-bottom: 10px">
                                <button id="btnNuevo" type="button" class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo
                                </button>
                            </div>
                        </div>*@
                    <div class="row">
                        <div id="divGridBandejaAsistPerm"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="divModalImportar" style="display: none; font-size: 11px">
        <div class="panel panel-default">
            <form id="frmImportar" name="frmImportar" novalidate=""> @*onsubmit="controlador.importarAsistencia(event)"*@
                @*<input id="hdIdEmpleado" name="hdIdEmpleado" type="hidden" value="0" />*@
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label for="ddlAnioAsistPerm" class="col-md-1 control-label">Año </label>
                                    <select id="ddlAnioAsistPerm" name="ddlAnioAsistPerm" class="form-control" style="width: 100%;">
                                        <option value="">-- Todos --</option>
                                        <option value="2020">2020</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="ddlMesAsistPerm" class="col-md-3 control-label">Mes </label>
                                    <select id="ddlMesAsistPerm" name="ddlMesAsistPerm" class="form-control" style="width: 100%;">
                                        <option value="" selected>-- Todos --</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="ddlPlanillaAsistPerm" class="col-md-3 control-label">Planilla </label>
                                    <select id="ddlPlanillaAsistPerm" name="ddlPlanillaAsistPerm" class="form-control" style="width: 100%;" required="required" validationmessage="requerido">
                                        <option value="" selected>-- Todos --</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            @*<div class="row">
                        <div class="form-group col-md-3">
                            <label for="txtNroConvocatoriaCurri" class="control-label">Nro de Convocatoria*</label>
                            <input id="txtNroConvocatoriaCurri" name="txtNroConvocatoriaCurri" type="text" class="form-control input-sm text-uppercase" readonly="readonly" />
                        </div>
                        <div class="form-group col-md-9">
                            <label for="txtCargoConvocatoriaCurri" class="control-label">Cargo*</label>
                            <input id="txtCargoConvocatoriaCurri" name="txtCargoConvocatoriaCurri" type="text" class="form-control input-sm text-uppercase" readonly="readonly" />
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row">
                        <div class="alert alert-warning" style="padding: 5px; border: 1px solid #f7cf0aa0; ">
                            <strong>SELECCIONE LOS MIEMBROS DEL COMITÉ QUE REALIZARÁN LA ENTREVISTA:</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label">COMITÉ DE SELECCIÓN</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="ddlComiteDependencia1Curri" class="control-label">PRESIDENTE: Dependencia</label>
                            <select id="ddlComiteDependencia1Curri" name="ddlComiteDependencia1Curri" class="form-control input-sm" style="width: 100%;" required="required" validationmessage="requerido">
                                <option value="">-- Seleccione --</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ddlComiteMiembro1Curri" class="control-label">Trabajador</label>
                            <select id="ddlComiteMiembro1Curri" name="ddlComiteMiembro1Curri" class="form-control input-sm" style="width: 100%;" required="required" validationmessage="requerido">
                                <option value="">-- Seleccione --</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="ddlComiteDependencia2Curri" class="control-label">MIEMBRO 1: Dependencia</label>
                            <select id="ddlComiteDependencia2Curri" name="ddlComiteDependencia2Curri" class="form-control input-sm" style="width: 100%;" required="required" validationmessage="requerido">
                                <option value="">-- Seleccione --</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ddlComiteMiembro2Curri" class="control-label">Trabajador</label>
                            <select id="ddlComiteMiembro2Curri" name="ddlComizsqteMiembro2Curri" class="form-control input-sm" style="width: 100%;" required="required" validationmessage="requerido">
                                <option value="">-- Seleccione --</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="ddlComiteDependencia3Curri" class="control-label">MIEMBRO 2: Dependencia</label>
                            <select id="ddlComiteDependencia3Curri" name="ddlComiteDependencia3Curri" class="form-control input-sm" style="width: 100%;" required="required" validationmessage="requerido">
                                <option value="">-- Seleccione --</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ddlComiteMiembro3Curri" class="control-label">Trabajador</label>
                            <select id="ddlComiteMiembro3Curri" name="ddlComiteMiembro3Curri" class="form-control input-sm" style="width: 100%;" required="required" validationmessage="requerido">
                                <option value="">-- Seleccione --</option>
                            </select>
                        </div>
                    </div>*@
                            <div id="panelImportar" class="row">
                                <div class="alert alert-warning" style="padding: 5px; border: 1px solid #f7cf0aa0; ">
                                    <strong>COPIE LA INFORMACION QUE DESEA IMPORTAR Y PEGUELA SOBRE LA SIGUIENTE TABLA :</strong>
                                </div>
                                <div id="divGridImportar" tabindex="0"></div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="panel-footer" style="text-align:right;">
                    <button id="btnGenerarAcceso" type="button" class="btn btn-primary btn-sm" onclick="controlador.ejecutarImportarAsistencia()">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Importar
                    </button>
                    <button type="button" class="btn btn-default btn-sm" >
                        <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>

    @*<div id="divGridImportar" tabindex="0"></div>*@

    @*<input id="hdIdCodTrabajador" name="hdIdCodTrabajadorBand" type="hidden" value="@VariablesWeb.oT_Genm_Usuario.iCodTrabajador" />
        <input id="hdIdBasePerfilPuesto" name="hdIdBasePerfilPuesto" type="hidden" value="" />*@

</section>
<!-- /.content -->
@section Scripts {
    <script src="~/Scripts/kendo/2018.1.221/jszip.min.js"></script>
    <script src="~/Scripts/App/Intranet/Planillas.js"></script>
    <script src="~/Scripts/source/modBase.js"></script>
    
    <script type="text/javascript">
        var controlador;

        $(document).ready(function () {
            controlador = new PlanillasJS();
            controlador.inicializarImportarAsistencia();

        });


    </script>
}