<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h2>Excepcion no controlada</h2>
        <h4>Ha ocurrido un error inesperado. Comunicarse con el Administrador.</h4>
        <h4>Para regresar al menu inicial <a href="@Url.Action("Index", "Home")">Ingrese aqui</a></h4>
    </hgroup>
</body>
</html>
