<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body style="font-family: 'PT Sans Narrow',sans-serif;">
    <div style="border: 2px solid #000; width: 1000px; padding: 0px 10px 30px;">
        <img src="//logo" alt="logo" style="padding-top: 10px; width: 980px" />
        <hr style="border: 1px solid #000;" />
        <table style="font-family: 'PT Sans Narrow', sans-serif; font-size: 9px; width: 1000px; height: 176px; border-style: none;">
            <tbody>
                <tr style="height: 30px;">
                    <td style="text-align: center; width: 992px; height: 30px;" colspan="4"><span style="font-size: 12px; font-weight: bold; /* background-color: #d1d1d1; */padding: 5px 20px; border: 1pt solid #000; border-radius: 3px;">FICHA DEL TRABAJADOR</span></td>
                </tr>
                <tr style="height: 30px;">
                    <td style="font-size: 11px; width: 290.188px; height: 20px; padding-left: 5px;" bgcolor="#d1d1d1"><strong>C&Oacute;DIGO AIRHSP</strong></td>
                    <td style="font-size: 11px; width: 9.625px; height: 20px; text-align: center;"><strong>:</strong></td>
                    <td style="font-size: 11px; width: 483.031px; height: 20px;">//airhsp</td>
                    <td style="width: 187.156px; text-align: center; height: 116px;" rowspan="7"><img id="imgFoto" src='data:image/png;base64,//foto' /></td> <!--style="border: 1pt solid #d1d1d1; padding: 75px 45px; color: #d1d1d1;"-->
                </tr>
                <tr style="height: 30px;">
                    <td style="font-size: 11px; width: 290.188px; height: 16px; padding-left: 5px;" bgcolor="#d1d1d1"><strong>N&Uacute;MERO DE CONTRATO</strong></td>
                    <td style="font-size: 11px; width: 9.625px; height: 16px; text-align: center;"><strong>:</strong></td>
                    <td style="font-size: 11px; width: 483.031px; height: 16px;">//nro_contrato</td>
                </tr>
                <tr style="height: 30px;">
                    <td style="font-size: 11px; width: 290.188px; height: 16px; padding-left: 5px;" bgcolor="#d1d1d1"><strong>FECHA DE INGRESO</strong></td>
                    <td style="font-size: 11px; width: 9.625px; height: 16px; text-align: center;"><strong>:</strong></td>
                    <td style="font-size: 11px; width: 483.031px; height: 16px;">//fecha_ing</td>
                </tr>
                <tr style="height: 30px;">
                    <td style="font-size: 11px; width: 290.188px; height: 16px; padding-left: 5px;" bgcolor="#d1d1d1"><strong>DEPENDENCIA</strong></td>
                    <td style="font-size: 11px; width: 9.625px; height: 16px; text-align: center;"><strong>:</strong></td>
                    <td style="font-size: 11px; width: 483.031px; height: 16px;">//unidad_organica</td>
                    <!--<td style="width: 189px; text-align: center; height: 96px;" rowspan="4"><span style="border: 1pt solid #d1d1d1; padding: 50px 30px; color: #d1d1d1;">FOTO</span></td>-->
                </tr>
                <tr style="height: 30px;">
                    <td style="font-size: 11px; width: 290.188px; height: 16px; padding-left: 5px;" bgcolor="#d1d1d1"><strong>CARGO</strong></td>
                    <td style="font-size: 11px; width: 9.625px; height: 16px; text-align: center;"><strong>:</strong></td>
                    <td style="font-size: 11px; width: 483.031px; height: 16px;">//cargo</td>
                </tr>
                <tr style="height: 30px;">
                    <td style="font-size: 11px; width: 290.188px; height: 16px; padding-left: 5px;" bgcolor="#d1d1d1"><strong>REMUNERACI&Oacute;N</strong></td>
                    <td style="font-size: 11px; width: 9.625px; height: 16px; text-align: center;"><strong>:</strong></td>
                    <td style="font-size: 11px; width: 483.031px; height: 16px;">//remuneracion</td>
                </tr>
                <tr style="height: 30px;">
                    <td style="font-size: 11px; width: 290.188px; height: 16px; padding-left: 5px;" bgcolor="#d1d1d1"><strong>SECUENCIA FUNCIONAL (Meta Presupuestal)</strong></td>
                    <td style="font-size: 11px; width: 9.625px; height: 16px; text-align: center;"><strong>:</strong></td>
                    <td style="font-size: 11px; width: 483.031px; height: 16px;">//meta</td>
                </tr>
            </tbody>
        </table>
        <hr style="border: 1px solid #000;" />
        <table style="font-family: 'PT Sans Narrow',sans-serif; font-size: 9px; width: 1000px; height: 297px; border-style: none;">
            <tbody>
                <tr>
                    <td style="width: 357px;" colspan="5">&nbsp;</td>
                    <td style="width: 260px;" colspan="5">&nbsp;</td>
                </tr>
                <tr>
                    <td style="width: 617px; text-align: center;" colspan="10"><span style="text-decoration: underline; font-weight: bold; font-size: 12px;">INFORMACI&Oacute;N LABORAL</span></td>
                </tr>
                <tr>
                    <td style="font-size: 9px; width: 151px;" colspan="2">APELLIDO PATERNO:</td>
                    <td style="font-size: 9px; width: 138px;" colspan="2">APELLIDO MATERNO:</td>
                    <td style="font-size: 9px; width: 275px;" colspan="4">NOMBRES:</td>
                    <td style="font-size: 9px; width: 53px;" colspan="2">SEXO:</td>
                    <!--<td style="font-size: 9px; width: 27px;">EDAD:</td>-->
                </tr>
                <tr>
                    <td style="font-size: 11px; width: 151px; border: 1px solid #d1d1d1" colspan="2">//paterno</td>
                    <td style="font-size: 11px; width: 138px; border: 1px solid #d1d1d1" colspan="2">//materno</td>
                    <td style="font-size: 11px; width: 275px; border: 1px solid #d1d1d1" colspan="4">//nombres</td>
                    <td style="font-size: 11px; width: 53px; border: 1px solid #d1d1d1" colspan="2">//sexo</td>
                    <!--<td style="font-size: 11px; width: 27px; border: 1px solid #d1d1d1">//edad</td>-->
                </tr>
                <tr>
                    <td style="font-size: 9px; width: 151px;" colspan="2">NACIONALIDAD:&nbsp;</td>
                    <td style="font-size: 9px; width: 82px;">FECHA NACIMIENTO:</td>

                    <td style="font-size: 9px; width: 86px;">N&deg; DNI:</td>
                    <td style="font-size: 9px; width: 101px;" colspan="3">N&deg; CARNET EXTRANJER&Iacute;A:</td>
                    <!--<td style="font-size: 9px; width: 197px;" colspan="3">LUGAR DE NACIMIENTO:</td>-->
                </tr>
                <tr>
                    <td style="font-size: 11px; width: 151px; border: 1px solid #d1d1d1" colspan="2">//nacionalidad</td>
                    <td style="font-size: 11px; width: 82px; border: 1px solid #d1d1d1">//nacimiento</td>

                    <td style="font-size: 11px; width: 86px; border: 1px solid #d1d1d1">//dni</td>
                    <td style="font-size: 11px; width: 101px; border: 1px solid #d1d1d1" colspan="3">//extranjeria</td>
                    <!-- <td style="font-size: 11px; width: 197px; border: 1px solid #d1d1d1" colspan="3">//lugar_nacimiento</td> -->
                </tr>
                <tr>
                    <td style="font-size: 9px; width: 357px" colspan="5">DIRECCI&Oacute;N DOMICILIO:</td>
                    <td style="font-size: 9px; width: 260px" colspan="5">UBIGEO:</td>
                </tr>
                <tr>
                    <td style="font-size: 11px; width: 357px; border: 1px solid #d1d1d1" colspan="5">//direccion</td>
                    <td style="font-size: 11px; width: 260px; border: 1px solid #d1d1d1" colspan="5">//ubigeo</td>
                </tr>
                <tr>
                    <td style="font-size: 9px; width: 103px;">ESTADO CIVIL:</td>
                    <td style="font-size: 9px; width: 130px;" colspan="2">GRUPO SANGUINEO:&nbsp;&nbsp;</td>
                    <td style="font-size: 9px; width: 124px;" colspan="2">RUC:</td>
                    <td style="font-size: 9px; width: 159px;" colspan="2">CORREO ELECTR&Oacute;NICO PERSONAL:&nbsp;&nbsp;&nbsp;</td>
                    <!--<td style="font-size: 9px; width: 86px;">N&deg; RUC:</td>-->
                    <td style="font-size: 9px; width: 101px;" colspan="3">CELULAR PERSONAL:</td>
                </tr>
                <tr>
                    <td style="font-size: 11px; width: 103px; border: 1px solid #d1d1d1">//estado_civil</td>
                    <td style="font-size: 11px; width: 130px; border: 1px solid #d1d1d1" colspan="2">//grupo_san</td>
                    <td style="font-size: 11px; width: 124px; border: 1px solid #d1d1d1" colspan="2">//ruc</td>
                    <td style="font-size: 11px; width: 159px; border: 1px solid #d1d1d1" colspan="2">//email_per</td>
                    <td style="font-size: 11px; width: 101px; border: 1px solid #d1d1d1" colspan="3">//celular_per</td>
                </tr>
                <tr>
                    <td style="font-size: 9px; width: 103px;">AIRHSP:</td>
                    <td style="font-size: 9px; width: 130px;" colspan="2">FORMA DE INGRESO:</td>
                    <td style="font-size: 9px; width: 124px;" colspan="2">CONDICI&Oacute;N:&nbsp;&nbsp;</td>
                    <td style="font-size: 9px; width: 73px;">SEDE:</td>
                    <td style="font-size: 9px; width: 86px;">INICIO:</td>
                    <td style="font-size: 9px; width: 101px;" colspan="3">DOCUMENTO DE INGRESO:&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-size: 11px; width: 103px; border: 1px solid #d1d1d1">//airhsp</td>
                    <td style="font-size: 11px; width: 130px; border: 1px solid #d1d1d1" colspan="2">//forma_ing</td>
                    <td style="font-size: 11px; width: 124px; border: 1px solid #d1d1d1" colspan="2">//condicion</td>
                    <td style="font-size: 11px; width: 73px; border: 1px solid #d1d1d1">//sede</td>
                    <td style="font-size: 11px; width: 86px; border: 1px solid #d1d1d1">//fecha_ing</td>
                    <td style="font-size: 11px; width: 101px; border: 1px solid #d1d1d1" colspan="3">//docu_ing</td>
                </tr>
                <tr>
                    <td style="font-size: 9px; width: 233px;" colspan="3">DEPENDENCIA:</td>
                    <td style="font-size: 9px; width: 197px;" colspan="3">CARGO:</td>
                    <td style="font-size: 9px; width: 86px;">SALIDA:</td>
                    <td style="font-size: 9px; width: 101px;" colspan="3">DOCUMENTO DE SALIDA:&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-size: 11px; width: 233px; border: 1px solid #d1d1d1" colspan="3">//unidad_organica</td>
                    <td style="font-size: 11px; width: 197px; border: 1px solid #d1d1d1" colspan="3">//cargo</td>
                    <td style="font-size: 11px; width: 86px; border: 1px solid #d1d1d1">//fecha_sal</td>
                    <td style="font-size: 11px; width: 101px; border: 1px solid #d1d1d1" colspan="3">//docu_sal</td>
                </tr>
                <tr>
                    <td style="font-size: 9px; width: 103px;">¿ES DIRECTOR?:</td>
                    <td style="font-size: 11px; width: 130px; border: 1px solid #d1d1d1" colspan="2">//ch_director&nbsp;</td>
                    <td style="font-size: 9px; width: 124px;" colspan="2">CORREO ELECTRÓNICO LABORAL:</td>
                    <td style="font-size: 11px; width: 160px; border: 1px solid #d1d1d1" colspan="5">//email_lab&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-size: 9px; width: 103px;">¿PERTENECE A SINDICATO?:</td>
                    <td style="font-size: 11px; width: 130px; border: 1px solid #d1d1d1" colspan="2">//ch_sindicato&nbsp;</td>
                    <td style="font-size: 9px; width: 124px;" colspan="2">TELÉFONO CELULAR:</td>
                    <td style="font-size: 11px; width: 160px; border: 1px solid #d1d1d1" colspan="5">//tel_cel&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-size: 9px; width: 103px;">¿CUENTA CON DISCAPACIDAD?:</td>
                    <td style="font-size: 11px; width: 130px; border: 1px solid #d1d1d1" colspan="2">//ch_discapacidad&nbsp;</td>
                    <td style="font-size: 9px; width: 124px;" colspan="2">TELÉFONO FIJO:</td>
                    <td style="font-size: 11px; width: 160px; border: 1px solid #d1d1d1" colspan="5">//tel_fijo&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-size: 9px; width: 103px;">¿DEBE PRESENTAR D.J.I.?:</td>
                    <td style="font-size: 11px; width: 130px; border: 1px solid #d1d1d1" colspan="2">//ch_dji&nbsp;</td>
                    <td style="font-size: 9px; width: 124px;" colspan="2">ANEXO:</td>
                    <td style="font-size: 11px; width: 160px; border: 1px solid #d1d1d1" colspan="5">//tel_anexo&nbsp;</td>
                </tr>

                <tr>
                    <td style="font-size: 11px; width: 103px;"></td>
                    <td style="font-size: 11px; width: 48px;"></td>
                    <td style="font-size: 11px; width: 82px;">&nbsp;</td>
                    <td style="font-size: 11px; width: 56px;"></td>
                    <td style="font-size: 11px; width: 68px;"></td>
                    <td style="font-size: 11px; width: 73px;">&nbsp;</td>
                    <td style="font-size: 11px; width: 86px;">&nbsp;</td>
                    <td style="font-size: 11px; width: 48px;">&nbsp;</td>
                    <td style="font-size: 11px; width: 26px;">&nbsp;</td>
                    <td style="font-size: 11px; width: 27px;">&nbsp;</td>
                </tr>

            </tbody>
        </table>
        <hr style="border: 1px solid #000;" />
        <table style="font-family: 'PT Sans Narrow',sans-serif; font-size: 9px; width: 1000px; height: 297px; border-style: none;">
            <tbody>
                <tr>
                    <td style="width: 357px;" colspan="5">&nbsp;</td>
                    <td style="width: 260px;" colspan="5">&nbsp;</td>
                </tr>
                <tr>
                    <td style="width: 617px; text-align: center;" colspan="10"><span style="text-decoration: underline; font-weight: bold; font-size: 12px;">INFORMACI&Oacute;N DE PLANILLA</span></td>
                </tr>
                <tr>
                    <td style="font-size: 9px; width: 103px;">META PRESUPUESTARIA:</td>
                    <td style="font-size: 9px; width: 130px;" colspan="2">N&deg; CONTRATO:&nbsp;&nbsp;</td>
                    <td style="font-size: 9px; width: 124px;" colspan="2">TIPO DE CONTRATACIÓN:</td>
                    <td style="font-size: 9px; width: 73px;">REMUNERACIÓN:</td>
                    <td style="font-size: 9px; width: 86px;"></td>
                    <td style="font-size: 9px; width: 101px;" colspan="3"></td>
                </tr>
                <tr>
                    <td style="font-size: 11px; width: 103px; border: 1px solid #d1d1d1">//meta</td>
                    <td style="font-size: 11px; width: 130px; border: 1px solid #d1d1d1" colspan="2">//nro_contrato</td>
                    <td style="font-size: 11px; width: 124px; border: 1px solid #d1d1d1" colspan="2">//tipo_contrato</td>
                    <td style="font-size: 11px; width: 73px; border: 1px solid #d1d1d1">//remuneracion</td>
                    <td style="font-size: 11px; width: 86px; "></td>
                    <td style="font-size: 11px; width: 101px; " colspan="3"></td>
                </tr>
                <tr>
                    <td style="font-size: 9px; width: 103px;">SISTEMA DE PENSIONES:</td>
                    <td style="font-size: 9px; width: 130px;" colspan="2">CÓDIGO AFILIADO AFP:&nbsp;&nbsp;</td>
                    <td style="font-size: 9px; width: 124px;" colspan="2">NOMBRE DE AFP:</td>
                    <td style="font-size: 9px; width: 73px;">TIPO DE COMISIÓN:</td>
                    <td style="font-size: 9px; width: 86px;"></td>
                    <td style="font-size: 9px; width: 101px;" colspan="3"></td>
                </tr>
                <tr>
                    <td style="font-size: 11px; width: 103px; border: 1px solid #d1d1d1">//tipo_pensiones</td>
                    <td style="font-size: 11px; width: 130px; border: 1px solid #d1d1d1" colspan="2">//codigo_afp</td>
                    <td style="font-size: 11px; width: 124px; border: 1px solid #d1d1d1" colspan="2">//nombre_afp</td>
                    <td style="font-size: 11px; width: 73px; border: 1px solid #d1d1d1">//comision_afp</td>
                    <td style="font-size: 11px; width: 86px; "></td>
                    <td style="font-size: 11px; width: 101px; " colspan="3"></td>
                </tr>
                <tr>
                    <td style="width: 103px;">&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-size: 11px; width: 151px;" colspan="2"><strong>CUENTAS BANCARIAS</strong></td>
                    <td style="font-size: 11px; width: 82px;">&nbsp;</td>
                    <td style="font-size: 11px; width: 197px;" colspan="3"><strong></strong></td>
                    <td style="font-size: 11px; width: 187px;" colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-size: 11px; width: 617px;" colspan="10">
                        <table style="font-family: 'PT Sans Narrow', sans-serif; font-size: 9px; width: 1000px; border: 0px solid #f0f0f0;" border="1" cellspacing="0" cellpadding="2">
                            <tbody>
                                <tr>
                                    <td style="font-size: 7px; width: 370px; text-align: center;" colspan="2">&nbsp;<strong>ENTIDAD BANCARIA</strong></td>
                                    <td style="font-size: 7px; width: 364px; text-align: center;" colspan="2"><strong>NÚMERO DE CUENTA</strong></td>
                                    <td style="font-size: 7px; width: 485px; text-align: center;" colspan="2"><strong>CÓDIGO DE CUENTA INTERBANCARIA</strong></td>
                                    <td style="font-size: 7px; width: 153px; text-align: center;"><strong>ESTADO</strong></td>
                                </tr>
                                //cuentas
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 11px; width: 103px;"></td>
                    <td style="font-size: 11px; width: 48px;"></td>
                    <td style="font-size: 11px; width: 82px;">&nbsp;</td>
                    <td style="font-size: 11px; width: 56px;"></td>
                    <td style="font-size: 11px; width: 68px;"></td>
                    <td style="font-size: 11px; width: 73px;">&nbsp;</td>
                    <td style="font-size: 11px; width: 86px;">&nbsp;</td>
                    <td style="font-size: 11px; width: 48px;">&nbsp;</td>
                    <td style="font-size: 11px; width: 26px;">&nbsp;</td>
                    <td style="font-size: 11px; width: 27px;">&nbsp;</td>
                </tr>
                <!--<tr>
                    <td style="font-size: 11px; width: 233px;" colspan="3"></td>
                    <td style="font-size: 11px; width: 384px;" colspan="7"></td>
                </tr>-->
            </tbody>
        </table>

        <hr style="border: 1px solid #000;" />
        <table style="font-family: 'PT Sans Narrow', sans-serif; font-size: 9px; width: 1000px; height: 50px;">
            <tbody>
                <tr>
                    <td style="text-align: center; width: 1372px;" colspan="7"><span style="text-decoration: underline; font-weight: bold; font-size: 12px;">INFORMACI&Oacute;N DE DERECHOHABIENTES</span></td>
                </tr>
            </tbody>
        </table>
        <table style="font-family: 'PT Sans Narrow', sans-serif; font-size: 9px; width: 1000px; border: 0px solid #f0f0f0;" border="1" cellspacing="0" cellpadding="2">
            <tbody>
                <tr>
                    <td style="font-size: 7px; width: 169.727px; text-align: center;">&nbsp;<strong>PARENTESCO</strong></td>
                    <td style="font-size: 7px; width: 414.273px; text-align: center;"><strong>APELLIDOS Y NOMBRES</strong></td>
                    <td style="font-size: 7px; width: 113px; text-align: center;"><strong>DNI</strong></td>
                    <td style="font-size: 7px; width: 137px; text-align: center;"><strong>FECHA NACIMIENTO</strong></td>
                    <td style="font-size: 7px; width: 61px; text-align: center;"><strong>EDAD</strong></td>
                    <td style="font-size: 7px; width: 404px; text-align: center;"><strong>OCUPACI&Oacute;N: TRABAJO / ESTUDIOS</strong></td>
                    <td style="font-size: 7px; width: 73px; text-align: center;"><strong>SEXO</strong></td>
                </tr>
                //familiares
            </tbody>
        </table>
        <hr style="border: 1px solid #000;" />
        <table style="font-family: 'PT Sans Narrow', sans-serif; font-size: 9px; width: 1000px; height: 50px;">
            <tbody>
                <tr>
                    <td style="text-align: center; width: 617px;" colspan="10"><span style="text-decoration: underline; font-weight: bold; font-size: 12px;">MOVIMIENTOS Y ENCARGATURAS</span></td>
                </tr>
                <tr>
                    <td style="font-size: 11px; width: 151px;" colspan="2"><strong>MOVIMIENTOS</strong></td>
                    <td style="font-size: 11px; width: 82px;">&nbsp;</td>
                    <td style="font-size: 11px; width: 197px;" colspan="3"><strong></strong></td>
                    <td style="font-size: 11px; width: 187px;" colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-size: 11px; width: 617px;" colspan="10">
                        <table style="font-family: 'PT Sans Narrow', sans-serif; font-size: 9px; width: 1000px; border: 0px solid #f0f0f0;" border="1" cellspacing="0" cellpadding="2">
                            <tbody>
                                <tr>
                                    <td style="font-size: 7px; width: 170px; text-align: center;">&nbsp;<strong>CONDICI&Oacute;N</strong></td>
                                    <td style="font-size: 7px; width: 100px; text-align: center;"><strong>DOCUMENTO INGRESO</strong></td>
                                    <td style="font-size: 7px; width: 100px; text-align: center;"><strong>TIPO DE INGRESO</strong></td>
                                    <td style="font-size: 7px; width: 100px; text-align: center;"><strong>CONTRATO</strong></td>
                                    <td style="font-size: 7px; width: 100px; text-align: center;"><strong>REMUNERACI&Oacute;N</strong></td>
                                    <td style="font-size: 7px; width: 100px; text-align: center;"><strong>INICIO DE LABORES</strong></td>
                                    <td style="font-size: 7px; width: 100px; text-align: center;"><strong>FIN DE LABORES</strong></td>
                                    <td style="font-size: 7px; width: 300px; text-align: center;"><strong>DEPENDENCIA</strong></td>
                                    <td style="font-size: 7px; width: 300px; text-align: center;"><strong>CARGO</strong></td>
                                </tr>
                                //movimientos
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 11px; width: 103px;"></td>
                    <td style="font-size: 11px; width: 48px;"></td>
                    <td style="font-size: 11px; width: 82px;">&nbsp;</td>
                    <td style="font-size: 11px; width: 56px;"></td>
                    <td style="font-size: 11px; width: 68px;"></td>
                    <td style="font-size: 11px; width: 73px;">&nbsp;</td>
                    <td style="font-size: 11px; width: 86px;">&nbsp;</td>
                    <td style="font-size: 11px; width: 48px;">&nbsp;</td>
                    <td style="font-size: 11px; width: 26px;">&nbsp;</td>
                    <td style="font-size: 11px; width: 27px;">&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-size: 11px; width: 151px;" colspan="2"><strong>ENCARGATURAS</strong></td>
                    <td style="font-size: 11px; width: 82px;">&nbsp;</td>
                    <td style="font-size: 11px; width: 197px;" colspan="3"><strong></strong></td>
                    <td style="font-size: 11px; width: 187px;" colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-size: 11px; width: 617px;" colspan="10">
                        <table style="font-family: 'PT Sans Narrow', sans-serif; font-size: 9px; width: 1000px; border: 0px solid #f0f0f0;" border="1" cellspacing="0" cellpadding="2">
                            <tbody>
                                <tr>
                                    <td style="font-size: 7px; width: 570px; text-align: center;" colspan="2">&nbsp;<strong>DEPENDENCIA ENCARGADA</strong></td>
                                    <td style="font-size: 7px; width: 200px; text-align: center;" colspan="2"><strong>DOCUMENTO INICIO</strong></td>
                                    <td style="font-size: 7px; width: 150px; text-align: center;" colspan="2"><strong>FECHA DE INICIO</strong></td>
                                    <td style="font-size: 7px; width: 200px; text-align: center;" colspan="2"><strong>DOCUMENTO FIN</strong></td>
                                    <td style="font-size: 7px; width: 150px; text-align: center;" colspan="2"><strong>FECHA DE FIN</strong></td>
                                    <td style="font-size: 7px; width: 100px; text-align: center;"><strong>ESTADO</strong></td>
                                </tr>
                                //encargaturas
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 11px; width: 103px;"></td>
                    <td style="font-size: 11px; width: 48px;"></td>
                    <td style="font-size: 11px; width: 82px;">&nbsp;</td>
                    <td style="font-size: 11px; width: 56px;"></td>
                    <td style="font-size: 11px; width: 68px;"></td>
                    <td style="font-size: 11px; width: 73px;">&nbsp;</td>
                    <td style="font-size: 11px; width: 86px;">&nbsp;</td>
                    <td style="font-size: 11px; width: 48px;">&nbsp;</td>
                    <td style="font-size: 11px; width: 26px;">&nbsp;</td>
                    <td style="font-size: 11px; width: 27px;">&nbsp;</td>
                </tr>
        </table>
    </div>
</body>
</html>
