<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body style="font-family: 'PT Sans Narrow',sans-serif;">
    <p>
        <div style="display: flex; justify-content: space-between; padding-top: 10px; width: 980px; align-items:flex-end ">
            <img style="width: 650px; height: 80px;" src="//logo_PCM" alt="logo" />
            <img style="width: 200px; height: 60px; " src="//logo_SERVIR" alt="logo" />
        </div>
    </p>

    <h2 style="text-align: center; font-weight: 400;">DECLARACIÓN JURADA N° 2</h2>

    <p style="line-height: 2; text-align: justify; font-size: 14px;">
        Yo, //nombre identificado/a con DNI Nº //dni postulante en el proceso de selección N° _________________ DECLARO BAJO JURAMENTO lo
        siguiente:
    </p>

    <div style="margin-left: 2rem; font-size: 14px;">
        <div style="display: flex;">
            <div style="width: 70px; height: 25px; background-color: white; border: 1px solid black; display: inline-block; margin-right: 20px;">
            </div>
            <span style="text-align: justify; display: block">
                <strong>NO,</strong> tengo parentesco hasta el cuarto grado de
                consanguinidad, segundo de afinidad, vínculo conyugal, de convivencia o unión de hecho con
                funcionarios
                o directivos de la entidad, personal de la Unidad Orgánica a la que corresponde el puesto al cual
                postulo, la Oficina de Recursos Humanos o la que hace sus veces, la Oficina de Administración y/o la
                Alta Dirección de la entidad.
            </span>
        </div>
        <div style="display: flex;">
            <div style="width: 70px; height: 25px; background-color: white; border: 1px solid black; display: inline-block; margin-right: 20px;">
            </div>

            <span style="text-align: justify; display: block">
                <strong>SÍ,</strong> tengo parentesco hasta el cuarto grado de
                consanguinidad, segundo de afinidad, vínculo conyugal, de convivencia o unión de hecho con
                funcionarios
                o directivos de la entidad, personal de la Unidad Orgánica a la que corresponde el puesto al cual
                postulo, la Oficina de Recursos Humanos o la que hace sus veces, la Oficina de Administración y/o la
                Alta Dirección de la entidad.
            </span>
        </div>
    </div>

    <p style="font-size: 14px;">En caso el postulante marque la 2da alternativa señale lo siguiente:</p>

    <table style="border-collapse: collapse; width: 100%; font-size: 14px;">
        <tr>
            <td style="padding: 5px 10px;">
                <ul>
                    <li style="text-align: justify;">
                        El nombre de la persona con la que es pariente o tiene vínculo
                        de afinidad, conyugal, de
                        convivencia o unión de hecho en la entidad.
                    </li>
                </ul>
            </td>
            <td style="border: 1px solid black;  padding: 5px 5px; width: 50%;"></td>
        </tr>
        <tr>
            <td style="padding: 5px 10px;">
                <ul>
                    <li style="text-align: justify;">
                        Cargo que ocupa la persona con la que es pariente o tiene
                        vínculo de afinidad, conyugal, de
                        convivencia o unión de hecho en la entidad.
                    </li>
                </ul>
            </td>
            <td style="border: 1px solid black; padding: 5px 5px; width: 50%;"></td>
        </tr>
        <tr>
            <td style="padding: 5px 10px;">
                <ul>
                    <li style="text-align: justify;">
                        El grado de parentesco con la persona hasta el
                        cuarto grado de consanguinidad, segundo de afinidad, o si es cónyuge, conviviente o unión de
                        hecho.
                    </li>
                </ul>
            </td>
            <td style="border: 1px solid black; padding: 5px 5px; width: 50%;"></td>
        </tr>
    </table>

    <p style="font-size: 14px;">Doy fe de lo declarado cumpliendo con firmar la Declaración Jurada.</p>

    <p style="text-align: right; font-size: 14px;">Lima, //dia de //mes de //anio.</p>

    <table style="border: 1px solid black; border-collapse: collapse; width: 100%; font-size: 14px;">
        <tr>
            <td style="border: 1px solid black; padding: 20px 5px;">FIRMA</td>
            <td style="border: 1px solid black;  padding: 20px 5px; width: 70%;"></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; padding: 20px 5px;">APELLIDOS Y NOMBRES</td>
            <td style="border: 1px solid black; padding: 20px 5px; width: 70%;"></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; padding: 20px 5px;">D.N.I.</td>
            <td style="border: 1px solid black; padding: 20px 5px; width: 70%;"></td>
        </tr>
    </table>
</body>
</html>