<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
</head>

<body style='font-family: "PT Sans Narrow", sans-serif;'>
    <div style="width: 1000px; padding: 0px 10px 30px;">
        <p><img style="padding-top: 10px; width: 980px;" src="//logo" alt="logo"></p>
        <table style="font-family: 'PT Sans Narrow', sans-serif; font-size: 14px; width: 1000px; height: 200px;">
            <tbody>
                <tr>
                    <td style="font-size: 16px; text-align: center; width: 945px;" colspan="7"><span style="text-decoration: underline; font-weight: bold;">DECLARACI&Oacute;N JURADA DE POSTULACI&Oacute;N E INCOMPATIBILIDAD</span></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-size: 14px; width: 945px; line-height: 18px;" colspan="7">
                        <p style="text-align: justify;">Yo, //nombre, identificado(a) con //dni y domicilio fiscal en //direccion postulante al proceso de convocatoria CAS N&deg; //proceso_cas, del puesto de //cargo y en amparo del Principio de presunci&oacute;n de veracidad se&ntilde;alado en el numeral 1.7 del art&iacute;culo IV del T&iacute;tulo Preliminar y lo dispuesto en el art&iacute;culo 51&deg; del TUO de la Ley de Procedimiento Administrativo General - Ley N&deg; 27444, <strong>DECLARO&nbsp;BAJO JURAMENTO</strong>, lo siguiente:</p>
                        <ul>
                            <li>Cumplir con los requisitos exigidos por el perfil se&ntilde;alado en las bases</li>
                            <li>No percibir ingresos por parte del Estado salvo por docencia, participaci&oacute;n en directorios de entidades y empresas del Estado, y percepci&oacute;n de la pensi&oacute;n de jubilaci&oacute;n o cesant&iacute;a de los reg&iacute;menes del Decreto Ley 20530 y Ley 19990</li>
                            <li>No tener inhabilitaci&oacute;n administrativa o judicial para el ejercicio de la profesi&oacute;n, para contratar con el Estado o para desempe&ntilde;ar funci&oacute;n p&uacute;blica</li>
                            <li>No tener impedimento expresamente previsto por las disposiciones legales y reglamentarias pertinentes, para ser postores o contratistas y/o para postular, acceder o ejercer el servicio, funci&oacute;n o cargo convocado por MIDIS</li>
                            <li>No tener antecedentes penales ni policiales, ni tener sentencias condenatorias vigentes</li>
                            <li>No haber sido sometido a procesos disciplinarios o sanciones administrativas que impidan laborar en el Estado</li>
                            <li>No figurar en el Registro Nacional de Sanciones Destituci&oacute;n y Despido - RNSDD</li>
                            <li>No tener en la Instituci&oacute;n, familiares hasta el 4&ordm; grado de consanguinidad, 2&ordm; de afinidad, por raz&oacute;n de matrimonio, uni&oacute;n de hecho, convivencia o ser con la facultad de designar, nombrar, contratar o influenciar de manera directa o indirecta en el ingreso</li>
                            <li>Por lo cual declaro que no me encuentro incurso en los alcances de la Ley N&ordm; 26771 y su Reglamento aprobado por D.S. N&ordm; 021-2000-PCM y sus modificatorias. Asimismo, me comprometo a no participar en ninguna acci&oacute;n que configure ACTO DE NEPOTISMO, conforme a lo determinado en las normas sobre la materia</li>
                            <li>No encontrarse inscrito en el Registro de Deudores de Reparaciones Civiles - REDERECI</li>
                        </ul>
                        <p>&nbsp;</p>
                        <p><strong>EN CASO DE TENER PARIENTES</strong></p>
                        <p style="text-align: justify;"><strong>DECLARO BAJO JURAMENTO</strong> que en el Ministerio de Desarrollo e Inclusi&oacute;n Social - MIDIS laboran las personas cuyos apellidos y nombres indico, a quien(es) me une la relaci&oacute;n o vinculo de afinidad, consanguinidad, v&iacute;nculo matrimonial o uni&oacute;n de hecho, se&ntilde;alados a continuaci&oacute;n <sup>(1):</sup></p>
                        <table style="font-family: 'PT Sans Narrow', sans-serif; font-size: 14px; width: 1000px; border-collapse: collapse; border: none; ">
                            <tbody>
                                <tr>
                                    <td style="background-color: #d1d1d1; font-size: 14px; width: 250px; text-align: center; border: 1pt solid windowtext; "><strong>RELACI&Oacute;N</strong></td>
                                    <td style="background-color: #d1d1d1; font-size: 14px; width: 250px; text-align: center; border: 1pt solid windowtext; "><strong>&nbsp;APELLIDOS</strong></td>
                                    <td style="background-color: #d1d1d1; font-size: 14px; width: 250px; text-align: center; border: 1pt solid windowtext; "><strong>&nbsp;NOMBRES</strong></td>
                                    <td style="background-color: #d1d1d1; font-size: 14px; width: 250px; text-align: center; border: 1pt solid windowtext; "><strong>&nbsp;&Aacute;REA DE TRABAJO</strong></td>
                                </tr>
                                <tr>
                                    <td style="width: 250px; border: 1pt solid windowtext; ">//neporelacion1&nbsp;</td>
                                    <td style="width: 250px; border: 1pt solid windowtext; ">//nepoapellido1&nbsp;</td>
                                    <td style="width: 250px; border: 1pt solid windowtext; ">//neponombre1&nbsp;</td>
                                    <td style="width: 250px; border: 1pt solid windowtext; ">//nepoarea1&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width: 250px; border: 1pt solid windowtext; ">//neporelacion2&nbsp;</td>
                                    <td style="width: 250px; border: 1pt solid windowtext; ">//nepoapellido2&nbsp;</td>
                                    <td style="width: 250px; border: 1pt solid windowtext; ">//neponombre2&nbsp;</td>
                                    <td style="width: 250px; border: 1pt solid windowtext; ">//nepoarea2&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width: 250px; border: 1pt solid windowtext; ">//neporelacion3&nbsp;</td>
                                    <td style="width: 250px; border: 1pt solid windowtext; ">//nepoapellido3&nbsp;</td>
                                    <td style="width: 250px; border: 1pt solid windowtext; ">//neponombre3&nbsp;</td>
                                    <td style="width: 250px; border: 1pt solid windowtext; ">//nepoarea3&nbsp;</td>
                                </tr>
                            </tbody>
                        </table><br>
                                <div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:14px;font-family:"Calibri",sans-serif;border:solid windowtext 1.0pt;padding:1.0pt 1.0pt 1.0pt 4.0pt;background:#E7E6E6;'>
                                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:115%;font-size:14px;font-family:"Calibri",sans-serif;text-align:justify;background:#E7E6E6;border:none;padding:0cm;'><span style='font-size:13px;line-height:115%;font-family:"Arial",sans-serif;color:black;'>Declaro bajo juramento que los datos consignados en la presente Declaraci&oacute;n Jurada son verdaderos siendo posibles de fiscalizaci&oacute;n posterior prevista en el art&iacute;culo 34&deg; del Texto &Uacute;nico Ordenado de la Ley N&deg; 27444 &ndash; Ley del Procedimiento Administrativo General, aprobado por Decreto Supremo N&deg; 004-2019-JUS, aceptando las responsabilidades administrativas, civiles y/o penales que se pudieran derivar en caso se compruebe que los datos proporcionados son falsos o incompletos.</span></p>
                                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:115%;font-size:14px;font-family:"Calibri",sans-serif;text-align:justify;background:#E7E6E6;border:none;padding:0cm;'><span style='font-size:12px;line-height:115%;font-family:"Arial",sans-serif;color:black;'>&nbsp;</span></p>
                                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:115%;font-size:14px;font-family:"Calibri",sans-serif;text-align:justify;background:#E7E6E6;border:none;padding:0cm;'><span style='font-size:13px;line-height:115%;font-family:"Arial",sans-serif;color:black;'>Declaro que tengo conocimiento que, si lo declarado es falso, podr&iacute;a incurrir en los delitos de: Nombramiento, designaci&oacute;n, contrataci&oacute;n, encargatura o aceptaci&oacute;n ilegal de cargo; falsa declaraci&oacute;n en procedimiento administrativo, falsificaci&oacute;n de documentos y falsedad gen&eacute;rico tipificados en los art&iacute;culos 381&deg;, 411&deg;, 427&deg; y 438&deg; del C&oacute;digo Penal, respectivamente.</span></p>
                                </div>
                        <p>&nbsp;</p>
                        <p>Lima //dia de //mes de //anio</p>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 12px; width: 419.599px;">
                        <p><br><br></p>
                    </td>
                    <td style="font-size: 12px; width: 218.401px;">
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>_____________________________________<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Firma del Trabajador(a)</p>
                    </td>
                    <td style="width: 130px;">&nbsp;</td>
                    <td style="width: 108px; border: 1px solid #d1d1d1;">&nbsp;</td>
                    <td style="width: 10px;">&nbsp;</td>
                    <td style="width: 29px;">&nbsp;</td>
                    <td style="width: 30px;">&nbsp;</td>
                </tr>
                <tr>
                    <td style="width: 419.599px;">&nbsp;</td>
                    <td style="width: 218.401px;">&nbsp;</td>
                    <td style="width: 130px;">&nbsp;</td>
                    <td style="font-size: 12px; width: 108px;">&nbsp; &nbsp; Huella dactilar</td>
                    <td style="width: 10px;">&nbsp;</td>
                    <td style="width: 29px;">&nbsp;</td>
                    <td style="width: 30px;">&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:115%;font-size:12px;font-family:"Calibri",sans-serif;text-align:justify;'>
            <table style="font-size:12px;">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;">(1)</td>
                        <td>Hasta 4to grado de consanguinidad: Padres, hijos, nietos, hermanos, abuelos, bisabuelos, bisnietos, t&iacute;os, sobrinos, tatarabuelos, tataranieto, primos, hermanos, t&iacute;o abuelo, sobrino nieto.<br>Hasta 2do grado de afinidad: Suegro, yerno, nuera, cu&ntilde;ado, c&oacute;nyuge o concubino o conviviente o de uni&oacute;n de hecho; o hijo del c&oacute;nyuge o del conviviente o concubino o uni&oacute;n de hecho que no es hijo del/ de la servidor/a. Cu&ntilde;ado, abuelo y nieto del c&oacute;nyuge o conviviente o concubino o uni&oacute;n de hecho, seg&uacute;n Ley N&ordm; 31299</td>
                    </tr>
                </tbody>
            </table>
        </p>
        <em>&nbsp;</em>

    </div>
</body>

</html>