<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body style="font-family: 'PT Sans Narrow',sans-serif;">
    <p>
        <div style="display: flex; justify-content: space-between; padding-top: 10px; width: 980px; align-items:flex-end ">
            <img style="width: 650px; height: 80px;" src="//logo_PCM" alt="logo" />
            <img style="width: 200px; height: 60px; " src="//logo_SERVIR" alt="logo" />
        </div>
    </p>

    <h2 style="text-align: center; font-weight: bold; margin: 0; padding: 0;">Anexo 05</h2>
    <h2 style="text-align: center; font-weight: 400; margin: 0; padding: 0;">DECLARACIÓN JURADA N° 1</h2>

    <p style="line-height: 2; text-align: justify; font-size: 14px;">
        Yo, //nombre identificado/a con DNI Nº //dni postulante en el proceso de selección N° _________________ DECLARO BAJO JURAMENTO lo
        siguiente:
    </p>

    <ul style="font-size: 14px;">
        <li style="text-align: justify;">No tener condena por delito doloso con sentencia firme.</li>
        <br />
        <li style="text-align: justify;">
            No estar inscrito en el Registro de Deudores de Reparaciones Civiles por
            Delitos Dolosos (REDERECI)
            conforme a lo previsto en el artículo 5 de la Ley Nº 30353.
        </li>
        <br />
        <li style="text-align: justify;">
            No contar con inhabilitación o suspensión vigente administrativa o judicial
            inscrita o no en el Registro
            Nacional de Sanciones Contra Servidores Civiles (RNSSC).
        </li>
        <br />
        <li style="text-align: justify;">
            No percibir simultáneamente remuneración, pensión u honorarios por concepto
            de locación de servicios,
            asesorías o consultorías o cualquier otra doble percepción o ingresos del Estado, salvo por el ejercicio
            de la función docente efectiva y la percepción de dietas por participación en uno (1) de los directorios
            de entidades o empresas estatales o en tribunales administrativos o en otros órganos colegiados.
        </li>
        <br />
        <li style="text-align: justify;">
            Que la información proporcionada en el Concurso Público de Méritos es
            totalmente veraz y cumplo con los
            requisitos establecidos en el perfil del puesto al cual postulo.
        </li>
        <br />
        <li style="text-align: justify;">
            Que me comprometo a presentar los documentos que acrediten fehacientemente
            la veracidad de la
            información proporcionada.
        </li>
    </ul>

    <p style="text-align: justify; font-size: 14px;">
        Asimismo, autorizo a la entidad a realizar las investigaciones correspondientes
        para constatar la veracidad de esta información y en caso de no ser veraz o correcta la información o
        presentar inconsistencias proceder a desvincularme del Proceso de Selección de considerarlo pertinente.
    </p>

    <p style="text-align: right; font-size: 14px;">Lima, //dia de //mes de //anio.</p>

    <table style="border: 1px solid black; border-collapse: collapse; width: 100%; font-size: 14px;">
        <tr>
            <td style="border: 1px solid black; padding: 20px 5px;">FIRMA</td>
            <td style="border: 1px solid black;  padding: 20px 5px; width: 70%;"></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; padding: 20px 5px;">APELLIDOS Y NOMBRES</td>
            <td style="border: 1px solid black; padding: 20px 5px; width: 70%;"></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; padding: 20px 5px;">D.N.I.</td>
            <td style="border: 1px solid black; padding: 20px 5px; width: 70%;"></td>
        </tr>
    </table>
</body>
</html>